# Major_Evaluation Data Cleaning/Analysis Project

To begin the project, it is critical that we import all of the packages that the project will be using

In [1]:
#importing all necessary packages
import pandas as pd
import numpy as np
import matplotlib as mp
import os
import settings

Now that we have all of the necessary packages imported, we should view what types of data files we will be handling

In [2]:
#create a list of all of our data file names
data_files = os.listdir(settings.Data_dir)
print data_files

['Bachelor_Degrees_Conferred.csv', 'degrees-that-pay-back.csv']

Take notice that the all of the data files are in a ".csv" format. 
This file format is easy to handle thanks to the "pandas" python package that we have already imported.

Let's get the data files into a useable python format by uploading the data files into their own pandas
data frames.

In [3]:
#initialize an empty dictionary that will provide easy, organized access to the data frames
DF = {}

#for-in loop to access each data file
for entry in data_files:
    
    #read in data file to a temporary data frame
    tempDF = pd.read_csv(os.path.join(settings.Data_dir,entry))

    #store the dataframe inside the data frame dictionary
    DF[entry.split(".")[0]] = tempDF

    #delete the temporary data frame to free up some memory
    del tempDF
    
#print the dictionary keys for future reference
print DF.keys()

['degrees-that-pay-back', 'Bachelor_Degrees_Conferred']

Great! Now we have our data in pandas data frames, we can view, edit, and analyze the data all in this Jupyter Notebook

Let's take a look at what the data actually looks like by printing the contents of each data frame

In [4]:
DF["degrees-that-pay-back"]

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Percent change from Starting to Mid-Career Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
0,Accounting,"$46,000.00","$77,100.00",67.6,"$42,200.00","$56,100.00","$108,000.00","$152,000.00"
1,Aerospace Engineering,"$57,700.00","$101,000.00",75.0,"$64,300.00","$82,100.00","$127,000.00","$161,000.00"
2,Agriculture,"$42,600.00","$71,900.00",68.8,"$36,300.00","$52,100.00","$96,300.00","$150,000.00"
3,Anthropology,"$36,800.00","$61,500.00",67.1,"$33,800.00","$45,500.00","$89,300.00","$138,000.00"
4,Architecture,"$41,600.00","$76,800.00",84.6,"$50,600.00","$62,200.00","$97,000.00","$136,000.00"
5,Art History,"$35,800.00","$64,900.00",81.3,"$28,800.00","$42,200.00","$87,400.00","$125,000.00"
6,Biology,"$38,800.00","$64,800.00",67.0,"$36,900.00","$47,400.00","$94,500.00","$135,000.00"
7,Business Management,"$43,000.00","$72,100.00",67.7,"$38,800.00","$51,500.00","$102,000.00","$147,000.00"
8,Chemical Engineering,"$63,200.00","$107,000.00",69.3,"$71,900.00","$87,300.00","$143,000.00","$194,000.00"
9,Chemistry,"$42,600.00","$79,900.00",87.6,"$45,300.00","$60,700.00","$108,000.00","$148,000.00"
10,Civil Engineering,"$53,900.00","$90,500.00",67.9,"$63,400.00","$75,100.00","$115,000.00","$148,000.00"
11,Communications,"$38,100.00","$70,000.00",83.7,"$37,500.00","$49,700.00","$98,800.00","$143,000.00"
12,Computer Engineering,"$61,400.00","$105,000.00",71.0,"$66,100.00","$84,100.00","$135,000.00","$162,000.00"
13,Computer Science,"$55,900.00","$95,500.00",70.8,"$56,000.00","$74,900.00","$122,000.00","$154,000.00"
14,Construction,"$53,700.00","$88,900.00",65.5,"$56,300.00","$68,100.00","$118,000.00","$171,000.00"
15,Criminal Justice,"$35,000.00","$56,300.00",60.9,"$32,200.00","$41,600.00","$80,700.00","$107,000.00"
16,Drama,"$35,900.00","$56,900.00",58.5,"$36,700.00","$41,300.00","$79,100.00","$153,000.00"
17,Economics,"$50,100.00","$98,600.00",96.8,"$50,600.00","$70,600.00","$145,000.00","$210,000.00"
18,Education,"$34,900.00","$52,000.00",49.0,"$29,300.00","$37,900.00","$73,400.00","$102,000.00"
19,Electrical Engineering,"$60,900.00","$103,000.00",69.1,"$69,300.00","$83,800.00","$130,000.00","$168,000.00"
20,English,"$38,000.00","$64,700.00",70.3,"$33,400.00","$44,800.00","$93,200.00","$133,000.00"
21,Film,"$37,900.00","$68,500.00",80.7,"$33,900.00","$45,500.00","$100,000.00","$136,000.00"
22,Finance,"$47,900.00","$88,300.00",84.3,"$47,200.00","$62,100.00","$128,000.00","$195,000.00"
23,Forestry,"$39,100.00","$62,600.00",60.1,"$41,000.00","$49,300.00","$78,200.00","$111,000.00"
24,Geography,"$41,200.00","$65,500.00",59.0,"$40,000.00","$50,000.00","$90,800.00","$132,000.00"
25,Geology,"$43,500.00","$79,500.00",82.8,"$45,000.00","$59,600.00","$101,000.00","$156,000.00"
26,Graphic Design,"$35,700.00","$59,800.00",67.5,"$36,000.00","$45,500.00","$80,800.00","$112,000.00"
27,Health Care Administration,"$38,800.00","$60,600.00",56.2,"$34,600.00","$45,600.00","$78,800.00","$101,000.00"
28,History,"$39,200.00","$71,000.00",81.1,"$37,000.00","$49,200.00","$103,000.00","$149,000.00"
29,Hospitality & Tourism,"$37,800.00","$57,500.00",52.1,"$35,500.00","$43,600.00","$81,900.00","$124,000.00"
30,Industrial Engineering,"$57,700.00","$94,700.00",64.1,"$57,100.00","$72,300.00","$132,000.00","$173,000.00"
31,Information Technology (IT),"$49,100.00","$74,800.00",52.3,"$44,500.00","$56,700.00","$96,700.00","$129,000.00"
32,Interior Design,"$36,100.00","$53,200.00",47.4,"$35,700.00","$42,600.00","$72,500.00","$107,000.00"
33,International Relations,"$40,900.00","$80,900.00",97.8,"$38,200.00","$56,000.00","$111,000.00","$157,000.00"
34,Journalism,"$35,600.00","$66,700.00",87.4,"$38,400.00","$48,300.00","$97,700.00","$145,000.00"
35,Management Information Systems (MIS),"$49,200.00","$82,300.00",67.3,"$45,300.00","$60,500.00","$108,000.00","$146,000.00"
36,Marketing,"$40,800.00","$79,600.00",95.1,"$42,100.00","$55,600.00","$119,000.00","$175,000.00"
37,Math,"$45,400.00","$92,400.00",103.5,"$45,200.00","$64,200.00","$128,000.00","$183,000.00"
38,Mechanical Engineering,"$57,900.00","$93,600.00",61.7,"$63,700.00","$76,200.00","$120,000.00","$163,000.00"
39,Music,"$35,900.00","$55,000.00",53.2,"$26,700.00","$40,200.00","$88,000.00","$134,000.00"
40,Nursing,"$54,200.00","$67,000.00",23.6,"$47,600.00","$56,400.00","$80,900.00","$98,300.00"
41,Nutrition,"$39,900.00","$55,300.00",38.6,"$33,900.00","$44,500.00","$70,500.00","$99,200.00"
42,Philosophy,"$39,900.00","$81,200.00",103.5,"$35,500.00","$52,800.00","$127,000.00","$168,000.00"
43,Physician Assistant,"$74,300.00","$91,700.00",23.4,"$66,400.00","$75,200.00","$108,000.00","$124,000.00"
44,Physics,"$50,300.00","$97,300.00",93.4,"$56,000.00","$74,200.00","$132,000.00","$178,000.00"
45,Political Science,"$40,800.00","$78,200.00",91.7,"$41,200.00","$55,300.00","$114,000.00","$168,000.00"
46,Psychology,"$35,900.00","$60,400.00",68.2,"$31,600.00","$42,100.00","$87,500.00","$127,000.00"
47,Religion,"$34,100.00","$52,000.00",52.5,"$29,700.00","$36,500.00","$70,900.00","$96,400.00"
48,Sociology,"$36,500.00","$58,200.00",59.5,"$30,700.00","$40,400.00","$81,200.00","$118,000.00"
49,Spanish,"$34,000.00","$53,100.00",56.2,"$31,000.00","$40,000.00","$76,800.00","$96,400.00"

In [5]:
DF["Bachelor_Degrees_Conferred"]

,"Table 322.10. Bachelor's degrees conferred by postsecondary institutions, by field of study: Selected years, 1970-71 through 2014-15",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38
0,Field of study,1970-71,1975-76,1980-81,1985-86,1990-91,1995-96,2000-01,2004-05,2005-06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2,3,4,5,6,7,8,9,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Total ........................................,"839,730","925,746","935,140","987,823","1,094,538","1,164,792","1,244,171","1,439,264","1,485,242",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Agriculture and natural resources ...............,"12,672","19,402","21,886","16,823","13,124","21,425","23,370","23,002","23,053",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Architecture and related services ...............,"5,570","9,146","9,455","9,119","9,781","8,352","8,480","9,237","9,515",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,"Area, ethnic, cultural, gender, and group stud...","2,579","3,577","2,887","3,021","4,776","5,633","6,160","7,569","7,879",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Biological and biomedical sciences ..............,"35,705","54,154","43,078","38,395","39,482","61,014","60,576","65,915","70,607",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Business ........................................,"115,396","143,171","200,521","236,700","249,165","226,623","263,515","311,574","318,042",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,"Communication, journalism, and related program...","10,324","20,045","29,428","41,666","51,650","47,320","58,013","72,715","73,955",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Communications technologies .....................,478,"1,237","1,854","1,479","1,397",853,"1,178","2,523","2,981",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Computer and information sciences ...............,"2,388","5,652","15,121","42,337","25,159","24,506","44,142","54,111","47,480",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Education .......................................,"176,307","154,437","108,074","87,147","110,807","105,384","105,458","105,451","107,238",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Engineering .....................................,"45,034","38,733","63,642","77,391","62,448","62,168","58,209","64,707","66,841",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Engineering technologies ........................,"5,148","7,943","11,713","19,731","17,303","15,829","14,660","14,837","14,565",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,English language and literature/letters .........,"63,914","41,452","31,922","34,083","51,064","49,928","50,569","54,379","55,096",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Family and consumer sciences/human sciences .....,"11,167","17,409","18,370","13,847","13,920","14,353","16,421","20,074","20,775",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,"Foreign languages, literatures, and linguistic...","20,988","17,068","11,638","11,550","13,937","14,832","16,128","18,386","19,410",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Health professions and related programs .........,"25,223","53,885","63,665","65,309","59,875","86,087","75,933","80,685","91,973",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,"Homeland security, law enforcement, and\n fi...","2,045","12,507","13,707","12,704","16,806","24,810","25,211","30,723","35,319",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Legal professions and studies ...................,545,531,776,"1,223","1,827","2,123","1,991","3,161","3,302",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,"Liberal arts and sciences, general studies,\n ...","7,481","18,855","21,643","21,336","30,526","33,997","37,962","43,751","44,898",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Library science .................................,"1,013",843,375,155,90,58,52,76,76,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Mathematics and statistics ......................,"24,801","15,984","11,078","16,122","14,393","12,713","11,171","14,351","14,770",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Military technologies and applied sciences ......,357,952,42,255,183,7,21,40,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Multi/interdisciplinary studies .................,"6,324","13,709","12,986","13,754","17,774","26,885","26,478","28,939","30,583",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,"Parks, recreation, leisure, and fitness studie...","1,621","5,182","5,729","4,623","4,315","12,974","17,948","22,888","25,490",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Philosophy and religious studies ................,"8,149","8,447","6,776","6,396","7,423","7,541","8,717","11,584","11,985",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Physical sciences and science technologies ......,"21,410","21,458","23,936","21,711","16,334","19,716","18,025","19,104","20,522",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Precision production ............................,0,0,0,2,2,12,31,64,55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Psychology ......................................,"38,187","50,278","41,068","40,628","58,655","73,416","73,645","85,614","88,134",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Public administration and social services .......,"5,466","15,440","16,707","11,887","14,350","19,849","19,447","21,769","21,986",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Social sciences and history .....................,"155,324","126,396","100,513","93,840","125,107","126,479","128,036","156,892","161,485",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Theology and religious vocations ................,"3,720","5,490","5,808","5,510","4,799","5,292","6,945","9,284","8,548",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Transportation and materials moving .............,0,225,263,"1,838","2,622","3,561","3,748","4,904","5,349",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Visual and performing arts ......................,"30,394","42,138","40,479","37,241","42,186","49,296","61,148","80,955","83,297",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,Not classified by field of study ................,0,0,0,0,"13,258","1,756",783,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NOTE: Data through 1990-91 are for institution...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,"SOURCE: U.S. Department of Education, National...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

The data for both data frames appears to be relatively nice to play with. The data is largely continuous, quantitative with only a few qualitative data points for the majors. There isn't a large level individaul of attention needed to make the data frames suit our purposes for this project. 

The first thing that caught my eye that needs to be addressed is the large amount of "NaN" values in the "Bachelor_Degrees_Conferred" dataframe. "Nan" values are essentially spots for data that is not filled. Keeping these inside of our data will throw off our analysis later on, so it is best to remove them to get an accurate representation of our data.

Second, the "Bachelor_Degrees_Conferred" dataframe has headers that are more or less useless as they are unnamed. We should either remove the pre-set headers or rename them so that they can provide value. 

Lastly, looking at our data frames, it may not be a good idea to combine our data sets into one combined data set right away. Removing the "NaN" values as well as condensing some of the data may help make the data frame more neat and easier to interpret.

Let's start cleaning the data sets to make them useable for the purposes of this project. Since the "Bachelor_Degrees_Conferred" dataframe appears to be the one that needs more cleaning, we will begin with that

In [6]:
#cleaning the "Bachelor_Degrees_Conferred" dataframe

#The column headers for this dataframe do not appear to be of use to us, but the first line appears to be. Lets
#replace the original headers with the first line.

#rename the column headers
DF["Bachelor_Degrees_Conferred"].columns = DF["Bachelor_Degrees_Conferred"].iloc[0]

#drop the row that has become the new header
DF["Bachelor_Degrees_Conferred"] = DF["Bachelor_Degrees_Conferred"][2:]

#print dataframe to check
DF["Bachelor_Degrees_Conferred"]

,Field of study,1970-71,1975-76,1980-81,1985-86,1990-91,1995-96,2000-01,2004-05,2005-06,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2,Total ........................................,"839,730","925,746","935,140","987,823","1,094,538","1,164,792","1,244,171","1,439,264","1,485,242",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Agriculture and natural resources ...............,"12,672","19,402","21,886","16,823","13,124","21,425","23,370","23,002","23,053",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Architecture and related services ...............,"5,570","9,146","9,455","9,119","9,781","8,352","8,480","9,237","9,515",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,"Area, ethnic, cultural, gender, and group stud...","2,579","3,577","2,887","3,021","4,776","5,633","6,160","7,569","7,879",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Biological and biomedical sciences ..............,"35,705","54,154","43,078","38,395","39,482","61,014","60,576","65,915","70,607",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Business ........................................,"115,396","143,171","200,521","236,700","249,165","226,623","263,515","311,574","318,042",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,"Communication, journalism, and related program...","10,324","20,045","29,428","41,666","51,650","47,320","58,013","72,715","73,955",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Communications technologies .....................,478,"1,237","1,854","1,479","1,397",853,"1,178","2,523","2,981",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Computer and information sciences ...............,"2,388","5,652","15,121","42,337","25,159","24,506","44,142","54,111","47,480",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Education .......................................,"176,307","154,437","108,074","87,147","110,807","105,384","105,458","105,451","107,238",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Engineering .....................................,"45,034","38,733","63,642","77,391","62,448","62,168","58,209","64,707","66,841",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Engineering technologies ........................,"5,148","7,943","11,713","19,731","17,303","15,829","14,660","14,837","14,565",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,English language and literature/letters .........,"63,914","41,452","31,922","34,083","51,064","49,928","50,569","54,379","55,096",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Family and consumer sciences/human sciences .....,"11,167","17,409","18,370","13,847","13,920","14,353","16,421","20,074","20,775",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,"Foreign languages, literatures, and linguistic...","20,988","17,068","11,638","11,550","13,937","14,832","16,128","18,386","19,410",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Health professions and related programs .........,"25,223","53,885","63,665","65,309","59,875","86,087","75,933","80,685","91,973",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,"Homeland security, law enforcement, and\n fi...","2,045","12,507","13,707","12,704","16,806","24,810","25,211","30,723","35,319",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Legal professions and studies ...................,545,531,776,"1,223","1,827","2,123","1,991","3,161","3,302",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,"Liberal arts and sciences, general studies,\n ...","7,481","18,855","21,643","21,336","30,526","33,997","37,962","43,751","44,898",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Library science .................................,"1,013",843,375,155,90,58,52,76,76,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Mathematics and statistics ......................,"24,801","15,984","11,078","16,122","14,393","12,713","11,171","14,351","14,770",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Military technologies and applied sciences ......,357,952,42,255,183,7,21,40,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Multi/interdisciplinary studies .................,"6,324","13,709","12,986","13,754","17,774","26,885","26,478","28,939","30,583",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,"Parks, recreation, leisure, and fitness studie...","1,621","5,182","5,729","4,623","4,315","12,974","17,948","22,888","25,490",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Philosophy and religious studies ................,"8,149","8,447","6,776","6,396","7,423","7,541","8,717","11,584","11,985",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Physical sciences and science technologies ......,"21,410","21,458","23,936","21,711","16,334","19,716","18,025","19,104","20,522",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Precision production ............................,0,0,0,2,2,12,31,64,55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Psychology ......................................,"38,187","50,278","41,068","40,628","58,655","73,416","73,645","85,614","88,134",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Public administration and social services .......,"5,466","15,440","16,707","11,887","14,350","19,849","19,447","21,769","21,986",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Social sciences and history .....................,"155,324","126,396","100,513","93,840","125,107","126,479","128,036","156,892","161,485",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Theology and religious vocations ................,"3,720","5,490","5,808","5,510","4,799","5,292","6,945","9,284","8,548",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Transportation and materials moving .............,0,225,263,"1,838","2,622","3,561","3,748","4,904","5,349",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Visual and performing arts ......................,"30,394","42,138","40,479","37,241","42,186","49,296","61,148","80,955","83,297",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,Not classified by field of study ................,0,0,0,0,"13,258","1,756",783,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NOTE: Data through 1990-91 are for institution...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,"SOURCE: U.S. Department of Education, National...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN