# Major_Evaluation Data Cleaning/Analysis Project

To begin the project, it is critical that we import all of the packages that the project will be using

In [71]:
#importing all necessary packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import settings

Now that we have all of the necessary packages imported, we should view what types of data files we will be handling

## Cleaning the data

### Uploading the data to dataframes and first impressions of the data

In [72]:
#create a list of all of our data file names
data_files = os.listdir(settings.Data_dir)
print data_files

['Bachelor_Degrees_Conferred.csv', 'degrees-that-pay-back.csv']

Take notice that the all of the data files are in a ".csv" format. 
This file format is easy to handle thanks to the "pandas" python package that we have already imported.

Let's get the data files into a useable python format by uploading the data files into their own pandas
data frames.

In [73]:
#initialize an empty dictionary that will provide easy, organized access to the data frames
DF = {}

#for-in loop to access each data file
for entry in data_files:
    
    #read in data file to a temporary data frame
    tempDF = pd.read_csv(os.path.join(settings.Data_dir,entry))

    #store the dataframe inside the data frame dictionary
    DF[entry.split(".")[0]] = tempDF

    #delete the temporary data frame to free up some memory
    del tempDF
    
#print the dictionary keys for future reference
print DF.keys()

['degrees-that-pay-back', 'Bachelor_Degrees_Conferred']

Great! Now we have our data in pandas data frames, we can view, edit, and analyze the data all in this Jupyter Notebook

Let's take a look at what the data actually looks like by printing the contents of each data frame

In [ ]:
DF["degrees-that-pay-back"]

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Percent change from Starting to Mid-Career Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
0,Accounting,"$46,000.00","$77,100.00",67.6,"$42,200.00","$56,100.00","$108,000.00","$152,000.00"
1,Aerospace Engineering,"$57,700.00","$101,000.00",75.0,"$64,300.00","$82,100.00","$127,000.00","$161,000.00"
2,Agriculture,"$42,600.00","$71,900.00",68.8,"$36,300.00","$52,100.00","$96,300.00","$150,000.00"
3,Anthropology,"$36,800.00","$61,500.00",67.1,"$33,800.00","$45,500.00","$89,300.00","$138,000.00"
4,Architecture,"$41,600.00","$76,800.00",84.6,"$50,600.00","$62,200.00","$97,000.00","$136,000.00"
5,Art History,"$35,800.00","$64,900.00",81.3,"$28,800.00","$42,200.00","$87,400.00","$125,000.00"
6,Biology,"$38,800.00","$64,800.00",67.0,"$36,900.00","$47,400.00","$94,500.00","$135,000.00"
7,Business Management,"$43,000.00","$72,100.00",67.7,"$38,800.00","$51,500.00","$102,000.00","$147,000.00"
8,Chemical Engineering,"$63,200.00","$107,000.00",69.3,"$71,900.00","$87,300.00","$143,000.00","$194,000.00"
9,Chemistry,"$42,600.00","$79,900.00",87.6,"$45,300.00","$60,700.00","$108,000.00","$148,000.00"
10,Civil Engineering,"$53,900.00","$90,500.00",67.9,"$63,400.00","$75,100.00","$115,000.00","$148,000.00"
11,Communications,"$38,100.00","$70,000.00",83.7,"$37,500.00","$49,700.00","$98,800.00","$143,000.00"
12,Computer Engineering,"$61,400.00","$105,000.00",71.0,"$66,100.00","$84,100.00","$135,000.00","$162,000.00"
13,Computer Science,"$55,900.00","$95,500.00",70.8,"$56,000.00","$74,900.00","$122,000.00","$154,000.00"
14,Construction,"$53,700.00","$88,900.00",65.5,"$56,300.00","$68,100.00","$118,000.00","$171,000.00"
15,Criminal Justice,"$35,000.00","$56,300.00",60.9,"$32,200.00","$41,600.00","$80,700.00","$107,000.00"
16,Drama,"$35,900.00","$56,900.00",58.5,"$36,700.00","$41,300.00","$79,100.00","$153,000.00"
17,Economics,"$50,100.00","$98,600.00",96.8,"$50,600.00","$70,600.00","$145,000.00","$210,000.00"
18,Education,"$34,900.00","$52,000.00",49.0,"$29,300.00","$37,900.00","$73,400.00","$102,000.00"
19,Electrical Engineering,"$60,900.00","$103,000.00",69.1,"$69,300.00","$83,800.00","$130,000.00","$168,000.00"
20,English,"$38,000.00","$64,700.00",70.3,"$33,400.00","$44,800.00","$93,200.00","$133,000.00"
21,Film,"$37,900.00","$68,500.00",80.7,"$33,900.00","$45,500.00","$100,000.00","$136,000.00"
22,Finance,"$47,900.00","$88,300.00",84.3,"$47,200.00","$62,100.00","$128,000.00","$195,000.00"
23,Forestry,"$39,100.00","$62,600.00",60.1,"$41,000.00","$49,300.00","$78,200.00","$111,000.00"
24,Geography,"$41,200.00","$65,500.00",59.0,"$40,000.00","$50,000.00","$90,800.00","$132,000.00"
25,Geology,"$43,500.00","$79,500.00",82.8,"$45,000.00","$59,600.00","$101,000.00","$156,000.00"
26,Graphic Design,"$35,700.00","$59,800.00",67.5,"$36,000.00","$45,500.00","$80,800.00","$112,000.00"
27,Health Care Administration,"$38,800.00","$60,600.00",56.2,"$34,600.00","$45,600.00","$78,800.00","$101,000.00"
28,History,"$39,200.00","$71,000.00",81.1,"$37,000.00","$49,200.00","$103,000.00","$149,000.00"
29,Hospitality & Tourism,"$37,800.00","$57,500.00",52.1,"$35,500.00","$43,600.00","$81,900.00","$124,000.00"
30,Industrial Engineering,"$57,700.00","$94,700.00",64.1,"$57,100.00","$72,300.00","$132,000.00","$173,000.00"
31,Information Technology (IT),"$49,100.00","$74,800.00",52.3,"$44,500.00","$56,700.00","$96,700.00","$129,000.00"
32,Interior Design,"$36,100.00","$53,200.00",47.4,"$35,700.00","$42,600.00","$72,500.00","$107,000.00"
33,International Relations,"$40,900.00","$80,900.00",97.8,"$38,200.00","$56,000.00","$111,000.00","$157,000.00"
34,Journalism,"$35,600.00","$66,700.00",87.4,"$38,400.00","$48,300.00","$97,700.00","$145,000.00"
35,Management Information Systems (MIS),"$49,200.00","$82,300.00",67.3,"$45,300.00","$60,500.00","$108,000.00","$146,000.00"
36,Marketing,"$40,800.00","$79,600.00",95.1,"$42,100.00","$55,600.00","$119,000.00","$175,000.00"
37,Math,"$45,400.00","$92,400.00",103.5,"$45,200.00","$64,200.00","$128,000.00","$183,000.00"
38,Mechanical Engineering,"$57,900.00","$93,600.00",61.7,"$63,700.00","$76,200.00","$120,000.00","$163,000.00"
39,Music,"$35,900.00","$55,000.00",53.2,"$26,700.00","$40,200.00","$88,000.00","$134,000.00"
40,Nursing,"$54,200.00","$67,000.00",23.6,"$47,600.00","$56,400.00","$80,900.00","$98,300.00"
41,Nutrition,"$39,900.00","$55,300.00",38.6,"$33,900.00","$44,500.00","$70,500.00","$99,200.00"
42,Philosophy,"$39,900.00","$81,200.00",103.5,"$35,500.00","$52,800.00","$127,000.00","$168,000.00"
43,Physician Assistant,"$74,300.00","$91,700.00",23.4,"$66,400.00","$75,200.00","$108,000.00","$124,000.00"
44,Physics,"$50,300.00","$97,300.00",93.4,"$56,000.00","$74,200.00","$132,000.00","$178,000.00"
45,Political Science,"$40,800.00","$78,200.00",91.7,"$41,200.00","$55,300.00","$114,000.00","$168,000.00"
46,Psychology,"$35,900.00","$60,400.00",68.2,"$31,600.00","$42,100.00","$87,500.00","$127,000.00"
47,Religion,"$34,100.00","$52,000.00",52.5,"$29,700.00","$36,500.00","$70,900.00","$96,400.00"
48,Sociology,"$36,500.00","$58,200.00",59.5,"$30,700.00","$40,400.00","$81,200.00","$118,000.00"
49,Spanish,"$34,000.00","$53,100.00",56.2,"$31,000.00","$40,000.00","$76,800.00","$96,400.00"

In [ ]:
DF["Bachelor_Degrees_Conferred"]

The data for both data frames appears to be relatively nice to play with. The data is largely continuous, quantitative with only a few qualitative data points for the majors. There isn't a large level individaul of attention needed to make the data frames suit our purposes for this project. 

The first thing that caught my eye that needs to be addressed is the large amount of "NaN" values in the "Bachelor_Degrees_Conferred" dataframe. "Nan" values are essentially spots for data that is not filled. Keeping these inside of our data will throw off our analysis later on, so it is best to remove them to get an accurate representation of our data.

Second, the "Bachelor_Degrees_Conferred" dataframe has headers that are more or less useless as they are unnamed. We should either remove the pre-set headers or rename them so that they can provide value. 

Lastly, looking at our data frames, it may not be a good idea to combine our data sets into one combined data set right away. Removing the "NaN" values as well as condensing some of the data may help make the data frame more neat and easier to interpret.

Let's start cleaning the data sets to make them useable for the purposes of this project. Since the "Bachelor_Degrees_Conferred" dataframe appears to be the one that needs more cleaning, we will begin with that

### Cleaning "Bachelor_Degrees_Conferred" dataframe

In [ ]:
#cleaning the "Bachelor_Degrees_Conferred" dataframe

#The column headers for this dataframe do not appear to be of use to us, but the first line appears to be. Lets
#replace the original headers with the first line.

#rename the column headers
DF["Bachelor_Degrees_Conferred"].columns = DF["Bachelor_Degrees_Conferred"].iloc[0]

#drop the row that has become the new header
DF["Bachelor_Degrees_Conferred"] = DF["Bachelor_Degrees_Conferred"][2:]

#fix row indexes after edits
DF["Bachelor_Degrees_Conferred"] = DF["Bachelor_Degrees_Conferred"].reset_index(drop=True)

#print dataframe to check
DF["Bachelor_Degrees_Conferred"]

Now that the Bachelor_Degrees_Conferred dataframe is much more readable now, lets continue cleaning it by getting rid of the extraneous NaN values

In [ ]:
#Drop columns that are only NaN's
DF["Bachelor_Degrees_Conferred"] = DF["Bachelor_Degrees_Conferred"].dropna(axis = 1, how = 'all')

#if a value in "Field of study" column is blank, then it should be safe to assume that 
#there is no entry to be accounted for. Let's remove all rows that fit this criteria
DF["Bachelor_Degrees_Conferred"] = DF["Bachelor_Degrees_Conferred"].dropna(subset=['Field of study'])

#print the dataframe to check
DF["Bachelor_Degrees_Conferred"]

After removing most of the NaN's, notice that the last two rows are all NaN's save for their "Field of study" values.
These two values appear to be some logisitcal information that the creator of the dataset decided to place. 
Leaving these in will throw off our analysis, so lets remove them as well (logistical information will be available
in the README file)

In [ ]:
#since we can see that the information we want to remove are the last two entries, we can directly remove them
#by saving all but the last two rows
DF["Bachelor_Degrees_Conferred"] = DF["Bachelor_Degrees_Conferred"].head(len(DF["Bachelor_Degrees_Conferred"]) - 2)

#print dataframe to check
DF["Bachelor_Degrees_Conferred"]

Great! Now that all the NaN's are removed, we are very close to finishing cleaning this data frame.
One detail that should be addressed are the entries in the "Field of study" column. Each entry has trailling "..." 
that are necessary. Leaving the "..." in will make it harder to read the dataframe. It would be best to remove these.

In [ ]:
#Removing trailling "..."
DF["Bachelor_Degrees_Conferred"].iloc[:,0] = DF["Bachelor_Degrees_Conferred"].iloc[:,0].str.split(".").str[0]

#Reset indexes
DF["Bachelor_Degrees_Conferred"] = DF["Bachelor_Degrees_Conferred"].reset_index(drop = True)

#print dataframe
DF["Bachelor_Degrees_Conferred"]

The dataframe is starting look ready for use. But wait! There is something else that needs to be addressed before we move on to the other dataframe. 

Take a close look at the actual data, it is in the format of #,###. Normally in everyday life, this format is perectly fine to use, preferred even. However, the computer interprets this format as a string of characters, rather than say, an intger. This is because of the comma that is included.

If we want to use the data in plots and things of that nature, we need to get rid of the comma and transform the type from string to an integer.

In [ ]:
#Function to remove commas from dataframe and change type from string to int
def string_to_int(data):
    
    #assign data to a temporary new value
    temp = data
    
    #if the string contains a ',', we can assume that it has a value over 999, forcing us to change the value from
    #string to an int
    
    if ',' in temp:
        
        #if the number of splits is more than 2, i.e. if a number is more than 999,999, then we split into three parts
        #and recombine them without the commas
    
        if len(temp.split(',')) > 2: 
            
            temp1,temp2,temp3 = temp.split(',') #split the strings based on the commas
        
            temp = temp1 + temp2 + temp3 #concatonate strings back together
    
        #else the number of splits should be 2, so we split into two parts and recombine them without the commas
        else:
            
            temp1,temp2, = temp.split(',')
            
            temp = temp1 + temp2
    
        #return the new value as an integer
        return int(temp)
    
    #else the string has a value of 999 or less and does not require further transformation other than string to int
    else:
        #return the new value as an integer
        return int(temp)

In [ ]:
#list of column headers in dataframe that are years 
#note that all of the headers that are years have the character "-" in it, so we will use that as an identifer
list_col = list(DF["Bachelor_Degrees_Conferred"].filter(regex = "\-",axis = 1).columns.values)

#Apply string_to_int function to the dataframe
for column in list_col:
    DF["Bachelor_Degrees_Conferred"][column] = DF["Bachelor_Degrees_Conferred"][column].apply(string_to_int)

In [ ]:
DF["Bachelor_Degrees_Conferred"]

The dataframe now looks clean and ready to be incorporated into whatever we wish. 

Lets move on and look at our other dataframe and see if it needs to be cleaned

## Cleaning Degrees-that-pay-back dataframe

In [ ]:
DF["degrees-that-pay-back"]

This dataframe appears to be quite clean, however, for our purposes, the monetary values as they appear right now will be interpreted as strings. An integer value is probably much for useful for our analysis.

Changing these strings to integers is going to require a little extra work. To make things easier and faster for us, lets make a python function that we can reuse to parse and convert whatever column we need to convert.

In [ ]:
#creating function to parse and convert money strings to integers
def convert_money(data):
    
    temp = data
    temp = temp.strip("$") #remove all instances of '$' character
    
    temp1,temp2 = temp.split(",") #remove all instances of ',' character
    temp = temp1+temp2 #combine temp1 and temp2 to form a the original string without a ',' character
    
    temp = temp.split(".")[0] #parse string by '.' and take the first value parsed
    
    return int(temp) #return integer version of the value

In [ ]:
#convert_money(DF["degrees-that-pay-back"]["Starting Median Salary"])
DF["degrees-that-pay-back"]["Starting Median Salary"] = DF["degrees-that-pay-back"]["Starting Median Salary"].apply(convert_money)
DF["degrees-that-pay-back"]["Mid-Career Median Salary"] = DF["degrees-that-pay-back"]["Mid-Career Median Salary"].apply(convert_money)
DF["degrees-that-pay-back"]["Mid-Career 10th Percentile Salary"] = DF["degrees-that-pay-back"]["Mid-Career 10th Percentile Salary"].apply(convert_money)
DF["degrees-that-pay-back"]["Mid-Career 25th Percentile Salary"] = DF["degrees-that-pay-back"]["Mid-Career 25th Percentile Salary"].apply(convert_money)
DF["degrees-that-pay-back"]["Mid-Career 75th Percentile Salary"] = DF["degrees-that-pay-back"]["Mid-Career 75th Percentile Salary"].apply(convert_money)
DF["degrees-that-pay-back"]["Mid-Career 90th Percentile Salary"] = DF["degrees-that-pay-back"]["Mid-Career 90th Percentile Salary"].apply(convert_money)

In [ ]:
DF["degrees-that-pay-back"]

With that done, this dataframe should be clean enough for use in analysis.

With both dataframes clean, we can start to compare the two data frames to each other and see if we can put them together some how

### Comparing the two data frames

Since the primary criterion we are looking at are the college majors, it would be a good idea to make sure that both data frames have the same majors

In [ ]:
#Seeing that we have more majors in the "degrees-that-pay-back" data frame, lets use those majors as our base 

#We will compare the majors in both data frames, if the major is not listed in the "degrees-that-pay-back" data frame
#then we shall remove that row of data

#if string is not found in one, then remove that row
#DF["degrees-that-pay-back"]["Undergraduate Major"].isin(DF["Bachelor_Degrees_Conferred"]["Field of study"])

major_list = []

for item in DF["Bachelor_Degrees_Conferred"]["Field of study"].str.split(" "):
    for word in item:
        major_list.append(word) #add to the list of majors in Bachelor_Degrees_Conferred

#remove empty spaces and commas from the list for faster and efficient processing        
major_list = [entry.strip(' ') for entry in major_list]
major_list = [entry.strip(',') for entry in major_list]

#store majors that match into a new dataframe
DF_Sal = DF["degrees-that-pay-back"][DF["degrees-that-pay-back"]["Undergraduate Major"].isin(major_list)]
DF_Sal

Hmm, this dataframe appears to be smaller than originally anticipated. 

Since majors do not really differ across the board and inital glances at both dataframes told me the same, I expected to have many more corresponding majors to work with. Something appears to be wrong with the matching of the majors.

Lets look again at say, the first 10 lines of each dataframe to see if there is, in fact, a disreprency

In [ ]:
#printing first 15 entries of bachelor degrees dataframe
DF["Bachelor_Degrees_Conferred"]["Field of study"].head(15)

In [ ]:
#printing first 15 entries of salaries dataframe
DF["degrees-that-pay-back"]["Undergraduate Major"].head(15)

That is strange, there appears to be majors that appear under both dataframes, but not are included in the combined dataframe. Pandas appears to be checking for an exact match in the cell rather than parsing the contents of the cell and comparing to that.

Furthermore, where one dataframe has a general version of a major, the other dataframe has a more specific one 
(e.g. Engineering vs Civil Engineering)

Looks like we have to do a little more work to get an accurate representation of usuable majors for our project.

There are two ways we can handle this: 
1) create or refine the code that matches majors to account for specific vs general majors and the parsing of the dataframe cells

2) Look at the dataframes and manually add majors to the combined dataframe ourselves

Normally, refining the code would be the prefered option since automating it would allow our code to be more reusable and able to handle copious amounts of data.
However, in this particular case, it might be best to manually add majors because of the pariticular discretion needed to select the correct majors (this is doable since the dataframes are relatively small).

Let us proceed to manually add majors.

In [ ]:
#In order to make the process of looking through each list of majors easier, lets make a new dataframe that
#lets us see the majors side by side

DF_majors = pd.concat([DF["degrees-that-pay-back"],DF["Bachelor_Degrees_Conferred"]], axis = 1, join_axes = [DF["degrees-that-pay-back"].index])
DF_majors = DF_majors[["Undergraduate Major", "Field of study"]]
DF_majors = DF_majors.fillna('')

In [ ]:
DF_majors

Great, now we have a dataframe with the majors side by side. It may not be the prettiest dataframe since many values
are missing, but it should serve our purposes well (it helps that the dataframe is alphabetized for us).

After manually matching corresponding majors, I have determined that the usuable majors are:

    -Agriculture
    -Architecture
    -Business
    -Communications
    -Computer Science
    -Education
    -English
    -Math
    -Philosophy
    -Religion

*note that engineering had correspondence, but matching generalized data of engineering to, say a more specific field
such as electrical engineering, could possibly skew our results later on

Lets update our dataframes with our new found information

In [ ]:
mj = ["Agriculture", "Architecture", "Business", "Communications", "Computer Science", "Education", "English", "Math", "Philosophy", "Religion"]

In [ ]:
#updating DF_Sal by adding missing majors (found by finding positions in original dataframe)

#add missing majors
DF_Sal = DF_Sal.append(DF["degrees-that-pay-back"].iloc[7,:])
DF_Sal = DF_Sal.append(DF["degrees-that-pay-back"].iloc[13,:])
DF_Sal = DF_Sal.append(DF["degrees-that-pay-back"].iloc[47,:])

#sort dataframe by alphabetical order
DF_Sal = DF_Sal.sort_values("Undergraduate Major")

#Reset indexes
DF_Sal = DF_Sal.reset_index(drop = True)

In [ ]:
DF_Sal

In [ ]:
#creating new dataframe to hold the degrees that we want to use
DF_degrees = DF["Bachelor_Degrees_Conferred"]

#remove all data and leave only the column headers for use
DF_degrees = DF_degrees.iloc[0:0]

In [ ]:
#Manually adding wanted majors to the dataframe


DF_degrees = DF_degrees.append(DF["Bachelor_Degrees_Conferred"].iloc[1,:])
DF_degrees = DF_degrees.append(DF["Bachelor_Degrees_Conferred"].iloc[2,:])
DF_degrees = DF_degrees.append(DF["Bachelor_Degrees_Conferred"].iloc[5,:])
DF_degrees = DF_degrees.append(DF["Bachelor_Degrees_Conferred"].iloc[6,:])
DF_degrees = DF_degrees.append(DF["Bachelor_Degrees_Conferred"].iloc[8,:])
DF_degrees = DF_degrees.append(DF["Bachelor_Degrees_Conferred"].iloc[9,:])
DF_degrees = DF_degrees.append(DF["Bachelor_Degrees_Conferred"].iloc[12,:])
DF_degrees = DF_degrees.append(DF["Bachelor_Degrees_Conferred"].iloc[20,:])
DF_degrees = DF_degrees.append(DF["Bachelor_Degrees_Conferred"].iloc[24,:])
DF_degrees = DF_degrees.append(DF["Bachelor_Degrees_Conferred"].iloc[30,:])

#Reset indexes
DF_degrees = DF_degrees.reset_index(drop = True)

In [ ]:
#Rename Column header from "Field of study" to "Undergraudate Major"
DF_degrees = DF_degrees.rename(columns = {"Field of study":"Undergraduate Major"})

#Rename major fields to match with other dataframe
DF_degrees["Undergraduate Major"] = DF_Sal["Undergraduate Major"]

In [ ]:
DF_degrees

In [ ]:
#set the Undergraduate Majors as the row indexes
DF_degrees = DF_degrees.set_index(DF_degrees["Undergraduate Major"])

In [ ]:
#remove original column "Undergraduate Major" since they are now the row indexes
DF_degrees = DF_degrees.drop("Undergraduate Major", axis = 1)

In [ ]:
DF_degrees

We're getting very close to the end of the cleaning phase. There is one last issue we need to address with this particular dataframe. The data for the number of degrees appears to be numerical, but with the inclusion of the commas (the ',' character), the numbers are translated as strings in the computer, we need to remove the commas and convert the object type to integer in order to effectively use the data.

# Begin Data Analysis

Fantastic! Now that our data is cleaned, we can now proceed with analyzing our data for any correlations and/or patterns that provides insight to our goal.

Before we begin the actual analysis, however, it is best that we set up some hypotheses that we will base our judgements on. We will call our hypotheses the "null hypothes" and "alternate hypothesis".

Let our the hypotheses be as follows:

Null Hypothesis: There are a less than or equal amount of people picking majors with high post-college salaries

Alternate Hypothesis: There are more people picking majors with high post-college salaries

In running our data analysis, our ultimate goal is to be able to find enough evidence in order to reject our Null Hypothesis in order to conclude the Alternate Hypothesis. Whether we will find enough evidence to do so is still to be determined.

So let's begin!

## Determining Majors with High Post-College Salaries

One of the critical parts of our hypotheses is the idea of a major with high post-college salary. 

Lets define these majors as majors that have post-college salaries that have a large, statistically significant difference that is much higher that that of other majors. 

We should be able to identify these majors with the data that we have. However, merely looking at all the numbers in the dataframe will not easily show us the majors that we want to identify. 

Visualizations will help us see if any majors fit our description.

Lets start by looking at the DF_degrees dataframe. Since we have data from various periods of time, lets plot the data into a line graph, with each line depicting the growth of the major over time.

Doing this should allow us to see if anything suspicious jumps out at us.

In [ ]:
#creating a histrogram of DF_degrees

#sns.distplot(DF_degrees.filter(regex = "\-",axis = 1))
#sns.jointplot(data = DF_degrees, x = "x", y = "y")
#sns.displot(DF_degrees)
#plt.show()

#NOTE TO SELF: MAYBE WE CAN FIND THE Z SCORE OR SOMETHING TO FIND THE OUTLIERS AND RECORD THOSE AND PLOT THOSE