# Major_Evaluation Data Cleaning/Analysis Project

To begin the project, it is critical that we import all of the packages that the project will be using

In [1]:
#importing all necessary packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import settings

Now that we have all of the necessary packages imported, we should view what types of data files we will be handling

## Cleaning the data

### Uploading the data to dataframes and first impressions of the data

In [2]:
#create a list of all of our data file names
data_files = os.listdir(settings.Data_dir)
print data_files

['Bachelor_Degrees_Conferred.csv', 'degrees-that-pay-back.csv']

Take notice that the all of the data files are in a ".csv" format. 
This file format is easy to handle thanks to the "pandas" python package that we have already imported.

Let's get the data files into a useable python format by uploading the data files into their own pandas
data frames.

In [3]:
#initialize an empty dictionary that will provide easy, organized access to the data frames
DF = {}

#for-in loop to access each data file
for entry in data_files:
    
    #read in data file to a temporary data frame
    tempDF = pd.read_csv(os.path.join(settings.Data_dir,entry))

    #store the dataframe inside the data frame dictionary
    DF[entry.split(".")[0]] = tempDF

    #delete the temporary data frame to free up some memory
    del tempDF
    
#print the dictionary keys for future reference
print DF.keys()

['degrees-that-pay-back', 'Bachelor_Degrees_Conferred']

Great! Now we have our data in pandas data frames, we can view, edit, and analyze the data all in this Jupyter Notebook

Let's take a look at what the data actually looks like by printing the contents of each data frame

In [4]:
DF["degrees-that-pay-back"]

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Percent change from Starting to Mid-Career Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
0,Accounting,"$46,000.00","$77,100.00",67.6,"$42,200.00","$56,100.00","$108,000.00","$152,000.00"
1,Aerospace Engineering,"$57,700.00","$101,000.00",75.0,"$64,300.00","$82,100.00","$127,000.00","$161,000.00"
2,Agriculture,"$42,600.00","$71,900.00",68.8,"$36,300.00","$52,100.00","$96,300.00","$150,000.00"
3,Anthropology,"$36,800.00","$61,500.00",67.1,"$33,800.00","$45,500.00","$89,300.00","$138,000.00"
4,Architecture,"$41,600.00","$76,800.00",84.6,"$50,600.00","$62,200.00","$97,000.00","$136,000.00"
5,Art History,"$35,800.00","$64,900.00",81.3,"$28,800.00","$42,200.00","$87,400.00","$125,000.00"
6,Biology,"$38,800.00","$64,800.00",67.0,"$36,900.00","$47,400.00","$94,500.00","$135,000.00"
7,Business Management,"$43,000.00","$72,100.00",67.7,"$38,800.00","$51,500.00","$102,000.00","$147,000.00"
8,Chemical Engineering,"$63,200.00","$107,000.00",69.3,"$71,900.00","$87,300.00","$143,000.00","$194,000.00"
9,Chemistry,"$42,600.00","$79,900.00",87.6,"$45,300.00","$60,700.00","$108,000.00","$148,000.00"
10,Civil Engineering,"$53,900.00","$90,500.00",67.9,"$63,400.00","$75,100.00","$115,000.00","$148,000.00"
11,Communications,"$38,100.00","$70,000.00",83.7,"$37,500.00","$49,700.00","$98,800.00","$143,000.00"
12,Computer Engineering,"$61,400.00","$105,000.00",71.0,"$66,100.00","$84,100.00","$135,000.00","$162,000.00"
13,Computer Science,"$55,900.00","$95,500.00",70.8,"$56,000.00","$74,900.00","$122,000.00","$154,000.00"
14,Construction,"$53,700.00","$88,900.00",65.5,"$56,300.00","$68,100.00","$118,000.00","$171,000.00"
15,Criminal Justice,"$35,000.00","$56,300.00",60.9,"$32,200.00","$41,600.00","$80,700.00","$107,000.00"
16,Drama,"$35,900.00","$56,900.00",58.5,"$36,700.00","$41,300.00","$79,100.00","$153,000.00"
17,Economics,"$50,100.00","$98,600.00",96.8,"$50,600.00","$70,600.00","$145,000.00","$210,000.00"
18,Education,"$34,900.00","$52,000.00",49.0,"$29,300.00","$37,900.00","$73,400.00","$102,000.00"
19,Electrical Engineering,"$60,900.00","$103,000.00",69.1,"$69,300.00","$83,800.00","$130,000.00","$168,000.00"
20,English,"$38,000.00","$64,700.00",70.3,"$33,400.00","$44,800.00","$93,200.00","$133,000.00"
21,Film,"$37,900.00","$68,500.00",80.7,"$33,900.00","$45,500.00","$100,000.00","$136,000.00"
22,Finance,"$47,900.00","$88,300.00",84.3,"$47,200.00","$62,100.00","$128,000.00","$195,000.00"
23,Forestry,"$39,100.00","$62,600.00",60.1,"$41,000.00","$49,300.00","$78,200.00","$111,000.00"
24,Geography,"$41,200.00","$65,500.00",59.0,"$40,000.00","$50,000.00","$90,800.00","$132,000.00"
25,Geology,"$43,500.00","$79,500.00",82.8,"$45,000.00","$59,600.00","$101,000.00","$156,000.00"
26,Graphic Design,"$35,700.00","$59,800.00",67.5,"$36,000.00","$45,500.00","$80,800.00","$112,000.00"
27,Health Care Administration,"$38,800.00","$60,600.00",56.2,"$34,600.00","$45,600.00","$78,800.00","$101,000.00"
28,History,"$39,200.00","$71,000.00",81.1,"$37,000.00","$49,200.00","$103,000.00","$149,000.00"
29,Hospitality & Tourism,"$37,800.00","$57,500.00",52.1,"$35,500.00","$43,600.00","$81,900.00","$124,000.00"
30,Industrial Engineering,"$57,700.00","$94,700.00",64.1,"$57,100.00","$72,300.00","$132,000.00","$173,000.00"
31,Information Technology (IT),"$49,100.00","$74,800.00",52.3,"$44,500.00","$56,700.00","$96,700.00","$129,000.00"
32,Interior Design,"$36,100.00","$53,200.00",47.4,"$35,700.00","$42,600.00","$72,500.00","$107,000.00"
33,International Relations,"$40,900.00","$80,900.00",97.8,"$38,200.00","$56,000.00","$111,000.00","$157,000.00"
34,Journalism,"$35,600.00","$66,700.00",87.4,"$38,400.00","$48,300.00","$97,700.00","$145,000.00"
35,Management Information Systems (MIS),"$49,200.00","$82,300.00",67.3,"$45,300.00","$60,500.00","$108,000.00","$146,000.00"
36,Marketing,"$40,800.00","$79,600.00",95.1,"$42,100.00","$55,600.00","$119,000.00","$175,000.00"
37,Math,"$45,400.00","$92,400.00",103.5,"$45,200.00","$64,200.00","$128,000.00","$183,000.00"
38,Mechanical Engineering,"$57,900.00","$93,600.00",61.7,"$63,700.00","$76,200.00","$120,000.00","$163,000.00"
39,Music,"$35,900.00","$55,000.00",53.2,"$26,700.00","$40,200.00","$88,000.00","$134,000.00"
40,Nursing,"$54,200.00","$67,000.00",23.6,"$47,600.00","$56,400.00","$80,900.00","$98,300.00"
41,Nutrition,"$39,900.00","$55,300.00",38.6,"$33,900.00","$44,500.00","$70,500.00","$99,200.00"
42,Philosophy,"$39,900.00","$81,200.00",103.5,"$35,500.00","$52,800.00","$127,000.00","$168,000.00"
43,Physician Assistant,"$74,300.00","$91,700.00",23.4,"$66,400.00","$75,200.00","$108,000.00","$124,000.00"
44,Physics,"$50,300.00","$97,300.00",93.4,"$56,000.00","$74,200.00","$132,000.00","$178,000.00"
45,Political Science,"$40,800.00","$78,200.00",91.7,"$41,200.00","$55,300.00","$114,000.00","$168,000.00"
46,Psychology,"$35,900.00","$60,400.00",68.2,"$31,600.00","$42,100.00","$87,500.00","$127,000.00"
47,Religion,"$34,100.00","$52,000.00",52.5,"$29,700.00","$36,500.00","$70,900.00","$96,400.00"
48,Sociology,"$36,500.00","$58,200.00",59.5,"$30,700.00","$40,400.00","$81,200.00","$118,000.00"
49,Spanish,"$34,000.00","$53,100.00",56.2,"$31,000.00","$40,000.00","$76,800.00","$96,400.00"

In [5]:
DF["Bachelor_Degrees_Conferred"]

,"Table 322.10. Bachelor's degrees conferred by postsecondary institutions, by field of study: Selected years, 1970-71 through 2014-15",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38
0,Field of study,1970-71,1975-76,1980-81,1985-86,1990-91,1995-96,2000-01,2004-05,2005-06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2,3,4,5,6,7,8,9,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Total ........................................,"839,730","925,746","935,140","987,823","1,094,538","1,164,792","1,244,171","1,439,264","1,485,242",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Agriculture and natural resources ...............,"12,672","19,402","21,886","16,823","13,124","21,425","23,370","23,002","23,053",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Architecture and related services ...............,"5,570","9,146","9,455","9,119","9,781","8,352","8,480","9,237","9,515",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,"Area, ethnic, cultural, gender, and group stud...","2,579","3,577","2,887","3,021","4,776","5,633","6,160","7,569","7,879",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Biological and biomedical sciences ..............,"35,705","54,154","43,078","38,395","39,482","61,014","60,576","65,915","70,607",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Business ........................................,"115,396","143,171","200,521","236,700","249,165","226,623","263,515","311,574","318,042",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,"Communication, journalism, and related program...","10,324","20,045","29,428","41,666","51,650","47,320","58,013","72,715","73,955",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Communications technologies .....................,478,"1,237","1,854","1,479","1,397",853,"1,178","2,523","2,981",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Computer and information sciences ...............,"2,388","5,652","15,121","42,337","25,159","24,506","44,142","54,111","47,480",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Education .......................................,"176,307","154,437","108,074","87,147","110,807","105,384","105,458","105,451","107,238",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Engineering .....................................,"45,034","38,733","63,642","77,391","62,448","62,168","58,209","64,707","66,841",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Engineering technologies ........................,"5,148","7,943","11,713","19,731","17,303","15,829","14,660","14,837","14,565",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,English language and literature/letters .........,"63,914","41,452","31,922","34,083","51,064","49,928","50,569","54,379","55,096",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Family and consumer sciences/human sciences .....,"11,167","17,409","18,370","13,847","13,920","14,353","16,421","20,074","20,775",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,"Foreign languages, literatures, and linguistic...","20,988","17,068","11,638","11,550","13,937","14,832","16,128","18,386","19,410",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Health professions and related programs .........,"25,223","53,885","63,665","65,309","59,875","86,087","75,933","80,685","91,973",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,"Homeland security, law enforcement, and\n fi...","2,045","12,507","13,707","12,704","16,806","24,810","25,211","30,723","35,319",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Legal professions and studies ...................,545,531,776,"1,223","1,827","2,123","1,991","3,161","3,302",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,"Liberal arts and sciences, general studies,\n ...","7,481","18,855","21,643","21,336","30,526","33,997","37,962","43,751","44,898",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Library science .................................,"1,013",843,375,155,90,58,52,76,76,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Mathematics and statistics ......................,"24,801","15,984","11,078","16,122","14,393","12,713","11,171","14,351","14,770",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Military technologies and applied sciences ......,357,952,42,255,183,7,21,40,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Multi/interdisciplinary studies .................,"6,324","13,709","12,986","13,754","17,774","26,885","26,478","28,939","30,583",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,"Parks, recreation, leisure, and fitness studie...","1,621","5,182","5,729","4,623","4,315","12,974","17,948","22,888","25,490",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Philosophy and religious studies ................,"8,149","8,447","6,776","6,396","7,423","7,541","8,717","11,584","11,985",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Physical sciences and science technologies ......,"21,410","21,458","23,936","21,711","16,334","19,716","18,025","19,104","20,522",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Precision production ............................,0,0,0,2,2,12,31,64,55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Psychology ......................................,"38,187","50,278","41,068","40,628","58,655","73,416","73,645","85,614","88,134",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Public administration and social services .......,"5,466","15,440","16,707","11,887","14,350","19,849","19,447","21,769","21,986",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Social sciences and history .....................,"155,324","126,396","100,513","93,840","125,107","126,479","128,036","156,892","161,485",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Theology and religious vocations ................,"3,720","5,490","5,808","5,510","4,799","5,292","6,945","9,284","8,548",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Transportation and materials moving .............,0,225,263,"1,838","2,622","3,561","3,748","4,904","5,349",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Visual and performing arts ......................,"30,394","42,138","40,479","37,241","42,186","49,296","61,148","80,955","83,297",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,Not classified by field of study ................,0,0,0,0,"13,258","1,756",783,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NOTE: Data through 1990-91 are for institution...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,"SOURCE: U.S. Department of Education, National...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

The data for both data frames appears to be relatively nice to play with. The data is largely continuous, quantitative with only a few qualitative data points for the majors. There isn't a large level individaul of attention needed to make the data frames suit our purposes for this project. 

The first thing that caught my eye that needs to be addressed is the large amount of "NaN" values in the "Bachelor_Degrees_Conferred" dataframe. "Nan" values are essentially spots for data that is not filled. Keeping these inside of our data will throw off our analysis later on, so it is best to remove them to get an accurate representation of our data.

Second, the "Bachelor_Degrees_Conferred" dataframe has headers that are more or less useless as they are unnamed. We should either remove the pre-set headers or rename them so that they can provide value. 

Lastly, looking at our data frames, it may not be a good idea to combine our data sets into one combined data set right away. Removing the "NaN" values as well as condensing some of the data may help make the data frame more neat and easier to interpret.

Let's start cleaning the data sets to make them useable for the purposes of this project. Since the "Bachelor_Degrees_Conferred" dataframe appears to be the one that needs more cleaning, we will begin with that

### Cleaning "Bachelor_Degrees_Conferred" dataframe

In [6]:
#cleaning the "Bachelor_Degrees_Conferred" dataframe

#The column headers for this dataframe do not appear to be of use to us, but the first line appears to be. Lets
#replace the original headers with the first line.

#rename the column headers
DF["Bachelor_Degrees_Conferred"].columns = DF["Bachelor_Degrees_Conferred"].iloc[0]

#drop the row that has become the new header
DF["Bachelor_Degrees_Conferred"] = DF["Bachelor_Degrees_Conferred"][2:]

#fix row indexes after edits
DF["Bachelor_Degrees_Conferred"] = DF["Bachelor_Degrees_Conferred"].reset_index(drop=True)

#print dataframe to check
DF["Bachelor_Degrees_Conferred"]

,Field of study,1970-71,1975-76,1980-81,1985-86,1990-91,1995-96,2000-01,2004-05,2005-06,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
0,Total ........................................,"839,730","925,746","935,140","987,823","1,094,538","1,164,792","1,244,171","1,439,264","1,485,242",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Agriculture and natural resources ...............,"12,672","19,402","21,886","16,823","13,124","21,425","23,370","23,002","23,053",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Architecture and related services ...............,"5,570","9,146","9,455","9,119","9,781","8,352","8,480","9,237","9,515",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Area, ethnic, cultural, gender, and group stud...","2,579","3,577","2,887","3,021","4,776","5,633","6,160","7,569","7,879",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Biological and biomedical sciences ..............,"35,705","54,154","43,078","38,395","39,482","61,014","60,576","65,915","70,607",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Business ........................................,"115,396","143,171","200,521","236,700","249,165","226,623","263,515","311,574","318,042",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,"Communication, journalism, and related program...","10,324","20,045","29,428","41,666","51,650","47,320","58,013","72,715","73,955",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Communications technologies .....................,478,"1,237","1,854","1,479","1,397",853,"1,178","2,523","2,981",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Computer and information sciences ...............,"2,388","5,652","15,121","42,337","25,159","24,506","44,142","54,111","47,480",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Education .......................................,"176,307","154,437","108,074","87,147","110,807","105,384","105,458","105,451","107,238",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Engineering .....................................,"45,034","38,733","63,642","77,391","62,448","62,168","58,209","64,707","66,841",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Engineering technologies ........................,"5,148","7,943","11,713","19,731","17,303","15,829","14,660","14,837","14,565",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,English language and literature/letters .........,"63,914","41,452","31,922","34,083","51,064","49,928","50,569","54,379","55,096",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Family and consumer sciences/human sciences .....,"11,167","17,409","18,370","13,847","13,920","14,353","16,421","20,074","20,775",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,"Foreign languages, literatures, and linguistic...","20,988","17,068","11,638","11,550","13,937","14,832","16,128","18,386","19,410",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Health professions and related programs .........,"25,223","53,885","63,665","65,309","59,875","86,087","75,933","80,685","91,973",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,"Homeland security, law enforcement, and\n fi...","2,045","12,507","13,707","12,704","16,806","24,810","25,211","30,723","35,319",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Legal professions and studies ...................,545,531,776,"1,223","1,827","2,123","1,991","3,161","3,302",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,"Liberal arts and sciences, general studies,\n ...","7,481","18,855","21,643","21,336","30,526","33,997","37,962","43,751","44,898",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Library science .................................,"1,013",843,375,155,90,58,52,76,76,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Mathematics and statistics ......................,"24,801","15,984","11,078","16,122","14,393","12,713","11,171","14,351","14,770",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Military technologies and applied sciences ......,357,952,42,255,183,7,21,40,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Multi/interdisciplinary studies .................,"6,324","13,709","12,986","13,754","17,774","26,885","26,478","28,939","30,583",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,"Parks, recreation, leisure, and fitness studie...","1,621","5,182","5,729","4,623","4,315","12,974","17,948","22,888","25,490",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Philosophy and religious studies ................,"8,149","8,447","6,776","6,396","7,423","7,541","8,717","11,584","11,985",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Physical sciences and science technologies ......,"21,410","21,458","23,936","21,711","16,334","19,716","18,025","19,104","20,522",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Precision production ............................,0,0,0,2,2,12,31,64,55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Psychology ......................................,"38,187","50,278","41,068","40,628","58,655","73,416","73,645","85,614","88,134",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Public administration and social services .......,"5,466","15,440","16,707","11,887","14,350","19,849","19,447","21,769","21,986",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Social sciences and history .....................,"155,324","126,396","100,513","93,840","125,107","126,479","128,036","156,892","161,485",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Theology and religious vocations ................,"3,720","5,490","5,808","5,510","4,799","5,292","6,945","9,284","8,548",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Transportation and materials moving .............,0,225,263,"1,838","2,622","3,561","3,748","4,904","5,349",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Visual and performing arts ......................,"30,394","42,138","40,479","37,241","42,186","49,296","61,148","80,955","83,297",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Not classified by field of study ................,0,0,0,0,"13,258","1,756",783,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NOTE: Data through 1990-91 are for institution...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,"SOURCE: U.S. Department of Education, National...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Now that the Bachelor_Degrees_Conferred dataframe is much more readable now, lets continue cleaning it by getting rid of the extraneous NaN values

In [7]:
#Drop columns that are only NaN's
DF["Bachelor_Degrees_Conferred"] = DF["Bachelor_Degrees_Conferred"].dropna(axis = 1, how = 'all')

#if a value in "Field of study" column is blank, then it should be safe to assume that 
#there is no entry to be accounted for. Let's remove all rows that fit this criteria
DF["Bachelor_Degrees_Conferred"] = DF["Bachelor_Degrees_Conferred"].dropna(subset=['Field of study'])

#print the dataframe to check
DF["Bachelor_Degrees_Conferred"]

,Field of study,1970-71,1975-76,1980-81,1985-86,1990-91,1995-96,2000-01,2004-05,2005-06,2006-07,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15
0,Total ........................................,"839,730","925,746","935,140","987,823","1,094,538","1,164,792","1,244,171","1,439,264","1,485,242","1,524,092","1,563,069","1,601,399","1,649,919","1,716,053","1,792,163","1,840,381","1,870,150","1,894,934"
1,Agriculture and natural resources ...............,"12,672","19,402","21,886","16,823","13,124","21,425","23,370","23,002","23,053","23,133","24,113","24,982","26,343","28,630","30,972","33,592","35,125","36,277"
2,Architecture and related services ...............,"5,570","9,146","9,455","9,119","9,781","8,352","8,480","9,237","9,515","9,717","9,805","10,119","10,051","9,831","9,727","9,757","9,149","9,090"
3,"Area, ethnic, cultural, gender, and group stud...","2,579","3,577","2,887","3,021","4,776","5,633","6,160","7,569","7,879","8,194","8,454","8,772","8,620","8,955","9,228","8,850","8,275","7,782"
4,Biological and biomedical sciences ..............,"35,705","54,154","43,078","38,395","39,482","61,014","60,576","65,915","70,607","76,832","79,829","82,828","86,391","89,984","95,850","100,397","104,657","109,896"
5,Business ........................................,"115,396","143,171","200,521","236,700","249,165","226,623","263,515","311,574","318,042","327,531","335,254","348,056","358,119","365,133","367,235","360,887","358,132","363,799"
7,"Communication, journalism, and related program...","10,324","20,045","29,428","41,666","51,650","47,320","58,013","72,715","73,955","74,783","76,382","77,984","81,280","83,231","83,771","84,818","87,612","90,650"
8,Communications technologies .....................,478,"1,237","1,854","1,479","1,397",853,"1,178","2,523","2,981","3,637","4,666","5,100","4,782","4,858","4,983","4,987","4,991","5,135"
9,Computer and information sciences ...............,"2,388","5,652","15,121","42,337","25,159","24,506","44,142","54,111","47,480","42,170","38,476","37,992","39,593","43,066","47,406","50,961","55,271","59,581"
10,Education .......................................,"176,307","154,437","108,074","87,147","110,807","105,384","105,458","105,451","107,238","105,641","102,582","101,716","101,287","104,008","105,656","104,698","98,838","91,623"
11,Engineering .....................................,"45,034","38,733","63,642","77,391","62,448","62,168","58,209","64,707","66,841","66,874","68,431","68,911","72,657","76,356","81,371","85,987","92,169","97,858"
13,Engineering technologies ........................,"5,148","7,943","11,713","19,731","17,303","15,829","14,660","14,837","14,565","14,980","15,177","15,493","16,078","16,741","17,283","17,010","16,807","17,238"
14,English language and literature/letters .........,"63,914","41,452","31,922","34,083","51,064","49,928","50,569","54,379","55,096","55,122","55,038","55,465","53,229","52,754","53,765","52,401","50,464","45,847"
15,Family and consumer sciences/human sciences .....,"11,167","17,409","18,370","13,847","13,920","14,353","16,421","20,074","20,775","21,400","21,870","21,906","21,832","22,438","23,441","23,930","24,689","24,584"
16,"Foreign languages, literatures, and linguistic...","20,988","17,068","11,638","11,550","13,937","14,832","16,128","18,386","19,410","20,275","20,977","21,169","21,507","21,705","21,756","21,647","20,332","19,493"
17,Health professions and related programs .........,"25,223","53,885","63,665","65,309","59,875","86,087","75,933","80,685","91,973","101,810","111,478","120,420","129,623","143,463","163,675","181,149","198,777","216,228"
19,"Homeland security, law enforcement, and\n fi...","2,045","12,507","13,707","12,704","16,806","24,810","25,211","30,723","35,319","39,206","40,235","41,788","43,613","47,600","54,091","60,264","62,416","62,723"
20,Legal professions and studies ...................,545,531,776,"1,223","1,827","2,123","1,991","3,161","3,302","3,596","3,771","3,822","3,886","4,429","4,595","4,425","4,513","4,420"
21,"Liberal arts and sciences, general studies,\n ...","7,481","18,855","21,643","21,336","30,526","33,997","37,962","43,751","44,898","44,255","46,940","47,095","46,963","46,717","46,961","46,790","45,281","43,647"
22,Library science .................................,"1,013",843,375,155,90,58,52,76,76,82,68,78,85,96,95,102,127,99
23,Mathematics and statistics ......................,"24,801","15,984","11,078","16,122","14,393","12,713","11,171","14,351","14,770","14,954","15,192","15,507","16,029","17,182","18,841","20,449","20,987","21,853"
25,Military technologies and applied sciences ......,357,952,42,255,183,7,21,40,33,168,39,55,56,64,86,105,185,276
26,Multi/interdisciplinary studies .................,"6,324","13,709","12,986","13,754","17,774","26,885","26,478","28,939","30,583","32,111","34,174","35,376","37,717","42,473","45,717","47,658","48,392","47,556"
27,"Parks, recreation, leisure, and fitness studie...","1,621","5,182","5,729","4,623","4,315","12,974","17,948","22,888","25,490","27,430","29,931","31,683","33,332","35,934","38,998","42,628","46,047","49,006"
28,Philosophy and religious studies ................,"8,149","8,447","6,776","6,396","7,423","7,541","8,717","11,584","11,985","11,969","12,257","12,448","12,503","12,830","12,645","12,792","11,999","11,072"
29,Physical sciences and science technologies ......,"21,410","21,458","23,936","21,711","16,334","19,716","18,025","19,104","20,522","21,291","22,179","22,691","23,381","24,705","26,664","28,053","29,307","30,038"
31,Precision production ............................,0,0,0,2,2,12,31,64,55,23,33,29,29,43,37,36,37,48
32,Psychology ......................................,"38,187","50,278","41,068","40,628","58,655","73,416","73,645","85,614","88,134","90,039","92,587","94,273","97,215","100,906","109,099","114,446","117,312","117,557"
33,Public administration and social services .......,"5,466","15,440","16,707","11,887","14,350","19,849","19,447","21,769","21,986","23,147","23,493","23,852","25,421","26,799","29,695","31,950","33,483","34,363"
34,Social sciences and history .....................,"155,324","126,396","100,513","93,840","125,107","126,479","128,036","156,892","161,485","164,183","167,363","168,517","172,782","177,169","178,534","177,767","173,132","166,944"
35,Theology and religious vocations ................,"3,720","5,490","5,808","5,510","4,799","5,292","6,945","9,284","8,548","8,696","8,992","8,940","8,719","9,073","9,304","9,385","9,642","9,708"
37,Transportation and materials moving .............,0,225,263,"1,838","2,622","3,561","3,748","4,904","5,349","5,657","5,203","5,189","4,998","4,941","4,876","4,661","4,588","4,711"
38,Visual and performing arts ......................,"30,394","42,138","40,479","37,241","42,186","49,296","61,148","80,955","83,297","85,186","87,703","89,143","91,798","93,939","95,806","97,799","97,414","95,832"
39,Not classified by field of study ................,0,0,0,0,"13,258","1,756",783,0,0,0,377,0,0,0,0,0,0,0
40,NOTE: Data through 1990-91 are for institution...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,"SOURCE: U.S. Department of Education, National...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

After removing most of the NaN's, notice that the last two rows are all NaN's save for their "Field of study" values.
These two values appear to be some logisitcal information that the creator of the dataset decided to place. 
Leaving these in will throw off our analysis, so lets remove them as well (logistical information will be available
in the README file)

In [8]:
#since we can see that the information we want to remove are the last two entries, we can directly remove them
#by saving all but the last two rows
DF["Bachelor_Degrees_Conferred"] = DF["Bachelor_Degrees_Conferred"].head(len(DF["Bachelor_Degrees_Conferred"]) - 2)

#print dataframe to check
DF["Bachelor_Degrees_Conferred"]

,Field of study,1970-71,1975-76,1980-81,1985-86,1990-91,1995-96,2000-01,2004-05,2005-06,2006-07,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15
0,Total ........................................,"839,730","925,746","935,140","987,823","1,094,538","1,164,792","1,244,171","1,439,264","1,485,242","1,524,092","1,563,069","1,601,399","1,649,919","1,716,053","1,792,163","1,840,381","1,870,150","1,894,934"
1,Agriculture and natural resources ...............,"12,672","19,402","21,886","16,823","13,124","21,425","23,370","23,002","23,053","23,133","24,113","24,982","26,343","28,630","30,972","33,592","35,125","36,277"
2,Architecture and related services ...............,"5,570","9,146","9,455","9,119","9,781","8,352","8,480","9,237","9,515","9,717","9,805","10,119","10,051","9,831","9,727","9,757","9,149","9,090"
3,"Area, ethnic, cultural, gender, and group stud...","2,579","3,577","2,887","3,021","4,776","5,633","6,160","7,569","7,879","8,194","8,454","8,772","8,620","8,955","9,228","8,850","8,275","7,782"
4,Biological and biomedical sciences ..............,"35,705","54,154","43,078","38,395","39,482","61,014","60,576","65,915","70,607","76,832","79,829","82,828","86,391","89,984","95,850","100,397","104,657","109,896"
5,Business ........................................,"115,396","143,171","200,521","236,700","249,165","226,623","263,515","311,574","318,042","327,531","335,254","348,056","358,119","365,133","367,235","360,887","358,132","363,799"
7,"Communication, journalism, and related program...","10,324","20,045","29,428","41,666","51,650","47,320","58,013","72,715","73,955","74,783","76,382","77,984","81,280","83,231","83,771","84,818","87,612","90,650"
8,Communications technologies .....................,478,"1,237","1,854","1,479","1,397",853,"1,178","2,523","2,981","3,637","4,666","5,100","4,782","4,858","4,983","4,987","4,991","5,135"
9,Computer and information sciences ...............,"2,388","5,652","15,121","42,337","25,159","24,506","44,142","54,111","47,480","42,170","38,476","37,992","39,593","43,066","47,406","50,961","55,271","59,581"
10,Education .......................................,"176,307","154,437","108,074","87,147","110,807","105,384","105,458","105,451","107,238","105,641","102,582","101,716","101,287","104,008","105,656","104,698","98,838","91,623"
11,Engineering .....................................,"45,034","38,733","63,642","77,391","62,448","62,168","58,209","64,707","66,841","66,874","68,431","68,911","72,657","76,356","81,371","85,987","92,169","97,858"
13,Engineering technologies ........................,"5,148","7,943","11,713","19,731","17,303","15,829","14,660","14,837","14,565","14,980","15,177","15,493","16,078","16,741","17,283","17,010","16,807","17,238"
14,English language and literature/letters .........,"63,914","41,452","31,922","34,083","51,064","49,928","50,569","54,379","55,096","55,122","55,038","55,465","53,229","52,754","53,765","52,401","50,464","45,847"
15,Family and consumer sciences/human sciences .....,"11,167","17,409","18,370","13,847","13,920","14,353","16,421","20,074","20,775","21,400","21,870","21,906","21,832","22,438","23,441","23,930","24,689","24,584"
16,"Foreign languages, literatures, and linguistic...","20,988","17,068","11,638","11,550","13,937","14,832","16,128","18,386","19,410","20,275","20,977","21,169","21,507","21,705","21,756","21,647","20,332","19,493"
17,Health professions and related programs .........,"25,223","53,885","63,665","65,309","59,875","86,087","75,933","80,685","91,973","101,810","111,478","120,420","129,623","143,463","163,675","181,149","198,777","216,228"
19,"Homeland security, law enforcement, and\n fi...","2,045","12,507","13,707","12,704","16,806","24,810","25,211","30,723","35,319","39,206","40,235","41,788","43,613","47,600","54,091","60,264","62,416","62,723"
20,Legal professions and studies ...................,545,531,776,"1,223","1,827","2,123","1,991","3,161","3,302","3,596","3,771","3,822","3,886","4,429","4,595","4,425","4,513","4,420"
21,"Liberal arts and sciences, general studies,\n ...","7,481","18,855","21,643","21,336","30,526","33,997","37,962","43,751","44,898","44,255","46,940","47,095","46,963","46,717","46,961","46,790","45,281","43,647"
22,Library science .................................,"1,013",843,375,155,90,58,52,76,76,82,68,78,85,96,95,102,127,99
23,Mathematics and statistics ......................,"24,801","15,984","11,078","16,122","14,393","12,713","11,171","14,351","14,770","14,954","15,192","15,507","16,029","17,182","18,841","20,449","20,987","21,853"
25,Military technologies and applied sciences ......,357,952,42,255,183,7,21,40,33,168,39,55,56,64,86,105,185,276
26,Multi/interdisciplinary studies .................,"6,324","13,709","12,986","13,754","17,774","26,885","26,478","28,939","30,583","32,111","34,174","35,376","37,717","42,473","45,717","47,658","48,392","47,556"
27,"Parks, recreation, leisure, and fitness studie...","1,621","5,182","5,729","4,623","4,315","12,974","17,948","22,888","25,490","27,430","29,931","31,683","33,332","35,934","38,998","42,628","46,047","49,006"
28,Philosophy and religious studies ................,"8,149","8,447","6,776","6,396","7,423","7,541","8,717","11,584","11,985","11,969","12,257","12,448","12,503","12,830","12,645","12,792","11,999","11,072"
29,Physical sciences and science technologies ......,"21,410","21,458","23,936","21,711","16,334","19,716","18,025","19,104","20,522","21,291","22,179","22,691","23,381","24,705","26,664","28,053","29,307","30,038"
31,Precision production ............................,0,0,0,2,2,12,31,64,55,23,33,29,29,43,37,36,37,48
32,Psychology ......................................,"38,187","50,278","41,068","40,628","58,655","73,416","73,645","85,614","88,134","90,039","92,587","94,273","97,215","100,906","109,099","114,446","117,312","117,557"
33,Public administration and social services .......,"5,466","15,440","16,707","11,887","14,350","19,849","19,447","21,769","21,986","23,147","23,493","23,852","25,421","26,799","29,695","31,950","33,483","34,363"
34,Social sciences and history .....................,"155,324","126,396","100,513","93,840","125,107","126,479","128,036","156,892","161,485","164,183","167,363","168,517","172,782","177,169","178,534","177,767","173,132","166,944"
35,Theology and religious vocations ................,"3,720","5,490","5,808","5,510","4,799","5,292","6,945","9,284","8,548","8,696","8,992","8,940","8,719","9,073","9,304","9,385","9,642","9,708"
37,Transportation and materials moving .............,0,225,263,"1,838","2,622","3,561","3,748","4,904","5,349","5,657","5,203","5,189","4,998","4,941","4,876","4,661","4,588","4,711"
38,Visual and performing arts ......................,"30,394","42,138","40,479","37,241","42,186","49,296","61,148","80,955","83,297","85,186","87,703","89,143","91,798","93,939","95,806","97,799","97,414","95,832"
39,Not classified by field of study ................,0,0,0,0,"13,258","1,756",783,0,0,0,377,0,0,0,0,0,0,0

Great! Now that all the NaN's are removed, we are very close to finishing cleaning this data frame.
One detail that should be addressed are the entries in the "Field of study" column. Each entry has trailling "..." 
that are necessary. Leaving the "..." in will make it harder to read the dataframe. It would be best to remove these.

In [9]:
#Removing trailling "..."
DF["Bachelor_Degrees_Conferred"].iloc[:,0] = DF["Bachelor_Degrees_Conferred"].iloc[:,0].str.split(".").str[0]

#Reset indexes
DF["Bachelor_Degrees_Conferred"] = DF["Bachelor_Degrees_Conferred"].reset_index(drop = True)

#print dataframe
DF["Bachelor_Degrees_Conferred"]

//anaconda/lib/python2.7/site-packages/pandas/core/indexing.py:601: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item_labels[indexer[info_axis]]] = value

,Field of study,1970-71,1975-76,1980-81,1985-86,1990-91,1995-96,2000-01,2004-05,2005-06,2006-07,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15
0,Total,"839,730","925,746","935,140","987,823","1,094,538","1,164,792","1,244,171","1,439,264","1,485,242","1,524,092","1,563,069","1,601,399","1,649,919","1,716,053","1,792,163","1,840,381","1,870,150","1,894,934"
1,Agriculture and natural resources,"12,672","19,402","21,886","16,823","13,124","21,425","23,370","23,002","23,053","23,133","24,113","24,982","26,343","28,630","30,972","33,592","35,125","36,277"
2,Architecture and related services,"5,570","9,146","9,455","9,119","9,781","8,352","8,480","9,237","9,515","9,717","9,805","10,119","10,051","9,831","9,727","9,757","9,149","9,090"
3,"Area, ethnic, cultural, gender, and group stud...","2,579","3,577","2,887","3,021","4,776","5,633","6,160","7,569","7,879","8,194","8,454","8,772","8,620","8,955","9,228","8,850","8,275","7,782"
4,Biological and biomedical sciences,"35,705","54,154","43,078","38,395","39,482","61,014","60,576","65,915","70,607","76,832","79,829","82,828","86,391","89,984","95,850","100,397","104,657","109,896"
5,Business,"115,396","143,171","200,521","236,700","249,165","226,623","263,515","311,574","318,042","327,531","335,254","348,056","358,119","365,133","367,235","360,887","358,132","363,799"
6,"Communication, journalism, and related programs","10,324","20,045","29,428","41,666","51,650","47,320","58,013","72,715","73,955","74,783","76,382","77,984","81,280","83,231","83,771","84,818","87,612","90,650"
7,Communications technologies,478,"1,237","1,854","1,479","1,397",853,"1,178","2,523","2,981","3,637","4,666","5,100","4,782","4,858","4,983","4,987","4,991","5,135"
8,Computer and information sciences,"2,388","5,652","15,121","42,337","25,159","24,506","44,142","54,111","47,480","42,170","38,476","37,992","39,593","43,066","47,406","50,961","55,271","59,581"
9,Education,"176,307","154,437","108,074","87,147","110,807","105,384","105,458","105,451","107,238","105,641","102,582","101,716","101,287","104,008","105,656","104,698","98,838","91,623"
10,Engineering,"45,034","38,733","63,642","77,391","62,448","62,168","58,209","64,707","66,841","66,874","68,431","68,911","72,657","76,356","81,371","85,987","92,169","97,858"
11,Engineering technologies,"5,148","7,943","11,713","19,731","17,303","15,829","14,660","14,837","14,565","14,980","15,177","15,493","16,078","16,741","17,283","17,010","16,807","17,238"
12,English language and literature/letters,"63,914","41,452","31,922","34,083","51,064","49,928","50,569","54,379","55,096","55,122","55,038","55,465","53,229","52,754","53,765","52,401","50,464","45,847"
13,Family and consumer sciences/human sciences,"11,167","17,409","18,370","13,847","13,920","14,353","16,421","20,074","20,775","21,400","21,870","21,906","21,832","22,438","23,441","23,930","24,689","24,584"
14,"Foreign languages, literatures, and linguistics","20,988","17,068","11,638","11,550","13,937","14,832","16,128","18,386","19,410","20,275","20,977","21,169","21,507","21,705","21,756","21,647","20,332","19,493"
15,Health professions and related programs,"25,223","53,885","63,665","65,309","59,875","86,087","75,933","80,685","91,973","101,810","111,478","120,420","129,623","143,463","163,675","181,149","198,777","216,228"
16,"Homeland security, law enforcement, and\n fi...","2,045","12,507","13,707","12,704","16,806","24,810","25,211","30,723","35,319","39,206","40,235","41,788","43,613","47,600","54,091","60,264","62,416","62,723"
17,Legal professions and studies,545,531,776,"1,223","1,827","2,123","1,991","3,161","3,302","3,596","3,771","3,822","3,886","4,429","4,595","4,425","4,513","4,420"
18,"Liberal arts and sciences, general studies,\n ...","7,481","18,855","21,643","21,336","30,526","33,997","37,962","43,751","44,898","44,255","46,940","47,095","46,963","46,717","46,961","46,790","45,281","43,647"
19,Library science,"1,013",843,375,155,90,58,52,76,76,82,68,78,85,96,95,102,127,99
20,Mathematics and statistics,"24,801","15,984","11,078","16,122","14,393","12,713","11,171","14,351","14,770","14,954","15,192","15,507","16,029","17,182","18,841","20,449","20,987","21,853"
21,Military technologies and applied sciences,357,952,42,255,183,7,21,40,33,168,39,55,56,64,86,105,185,276
22,Multi/interdisciplinary studies,"6,324","13,709","12,986","13,754","17,774","26,885","26,478","28,939","30,583","32,111","34,174","35,376","37,717","42,473","45,717","47,658","48,392","47,556"
23,"Parks, recreation, leisure, and fitness studies","1,621","5,182","5,729","4,623","4,315","12,974","17,948","22,888","25,490","27,430","29,931","31,683","33,332","35,934","38,998","42,628","46,047","49,006"
24,Philosophy and religious studies,"8,149","8,447","6,776","6,396","7,423","7,541","8,717","11,584","11,985","11,969","12,257","12,448","12,503","12,830","12,645","12,792","11,999","11,072"
25,Physical sciences and science technologies,"21,410","21,458","23,936","21,711","16,334","19,716","18,025","19,104","20,522","21,291","22,179","22,691","23,381","24,705","26,664","28,053","29,307","30,038"
26,Precision production,0,0,0,2,2,12,31,64,55,23,33,29,29,43,37,36,37,48
27,Psychology,"38,187","50,278","41,068","40,628","58,655","73,416","73,645","85,614","88,134","90,039","92,587","94,273","97,215","100,906","109,099","114,446","117,312","117,557"
28,Public administration and social services,"5,466","15,440","16,707","11,887","14,350","19,849","19,447","21,769","21,986","23,147","23,493","23,852","25,421","26,799","29,695","31,950","33,483","34,363"
29,Social sciences and history,"155,324","126,396","100,513","93,840","125,107","126,479","128,036","156,892","161,485","164,183","167,363","168,517","172,782","177,169","178,534","177,767","173,132","166,944"
30,Theology and religious vocations,"3,720","5,490","5,808","5,510","4,799","5,292","6,945","9,284","8,548","8,696","8,992","8,940","8,719","9,073","9,304","9,385","9,642","9,708"
31,Transportation and materials moving,0,225,263,"1,838","2,622","3,561","3,748","4,904","5,349","5,657","5,203","5,189","4,998","4,941","4,876","4,661","4,588","4,711"
32,Visual and performing arts,"30,394","42,138","40,479","37,241","42,186","49,296","61,148","80,955","83,297","85,186","87,703","89,143","91,798","93,939","95,806","97,799","97,414","95,832"
33,Not classified by field of study,0,0,0,0,"13,258","1,756",783,0,0,0,377,0,0,0,0,0,0,0

The dataframe is starting look ready for use. But wait! There is something else that needs to be addressed before we move on to the other dataframe. 

Take a close look at the actual data, it is in the format of #,###. Normally in everyday life, this format is perectly fine to use, preferred even. However, the computer interprets this format as a string of characters, rather than say, an intger. This is because of the comma that is included.

If we want to use the data in plots and things of that nature, we need to get rid of the comma and transform the type from string to an integer.

In [10]:
#Function to remove commas from dataframe and change type from string to int
def string_to_int(data):
    
    temp = data
    
    if ',' in temp:
        
        #if the number of splits is more than 2, i.e. if a number is more than 999,999, then we split into three parts
        #and recombine them without the commas
    
        if len(temp.split(',')) > 2: 
            
            temp1,temp2,temp3 = temp.split(',') #split the strings based on the commas
        
            temp = temp1 + temp2 + temp3 #concatonate strings back together
    
        #else the number of splits should be 2, so we split into two parts and recombine them without the commas
        else:
            
            temp1,temp2, = temp.split(',')
            
            temp = temp1 + temp2
    
        return int(temp)
        
    else:

        return int(temp)

In [11]:
#list of column headers in dataframe that are years 
#note that all of the headers that are years have the character "-" in it, so we will use that as an identifer
list_col = list(DF["Bachelor_Degrees_Conferred"].filter(regex = "\-",axis = 1).columns.values)

#Apply string_to_int function to the dataframe
for column in list_col:
    DF["Bachelor_Degrees_Conferred"][column] = DF["Bachelor_Degrees_Conferred"][column].apply(string_to_int)
    #print DF["Bachelor_Degrees_Conferred"][column]

In [12]:
print list_col

['1970-71', '1975-76', '1980-81', '1985-86', '1990-91', '1995-96', '2000-01', '2004-05', '2005-06', '2006-07', '2007-08', '2008-09', '2009-10', '2010-11', '2011-12', '2012-13', '2013-14', '2014-15']

In [13]:
DF["Bachelor_Degrees_Conferred"]

,Field of study,1970-71,1975-76,1980-81,1985-86,1990-91,1995-96,2000-01,2004-05,2005-06,2006-07,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15
0,Total,839730,925746,935140,987823,1094538,1164792,1244171,1439264,1485242,1524092,1563069,1601399,1649919,1716053,1792163,1840381,1870150,1894934
1,Agriculture and natural resources,12672,19402,21886,16823,13124,21425,23370,23002,23053,23133,24113,24982,26343,28630,30972,33592,35125,36277
2,Architecture and related services,5570,9146,9455,9119,9781,8352,8480,9237,9515,9717,9805,10119,10051,9831,9727,9757,9149,9090
3,"Area, ethnic, cultural, gender, and group stud...",2579,3577,2887,3021,4776,5633,6160,7569,7879,8194,8454,8772,8620,8955,9228,8850,8275,7782
4,Biological and biomedical sciences,35705,54154,43078,38395,39482,61014,60576,65915,70607,76832,79829,82828,86391,89984,95850,100397,104657,109896
5,Business,115396,143171,200521,236700,249165,226623,263515,311574,318042,327531,335254,348056,358119,365133,367235,360887,358132,363799
6,"Communication, journalism, and related programs",10324,20045,29428,41666,51650,47320,58013,72715,73955,74783,76382,77984,81280,83231,83771,84818,87612,90650
7,Communications technologies,478,1237,1854,1479,1397,853,1178,2523,2981,3637,4666,5100,4782,4858,4983,4987,4991,5135
8,Computer and information sciences,2388,5652,15121,42337,25159,24506,44142,54111,47480,42170,38476,37992,39593,43066,47406,50961,55271,59581
9,Education,176307,154437,108074,87147,110807,105384,105458,105451,107238,105641,102582,101716,101287,104008,105656,104698,98838,91623
10,Engineering,45034,38733,63642,77391,62448,62168,58209,64707,66841,66874,68431,68911,72657,76356,81371,85987,92169,97858
11,Engineering technologies,5148,7943,11713,19731,17303,15829,14660,14837,14565,14980,15177,15493,16078,16741,17283,17010,16807,17238
12,English language and literature/letters,63914,41452,31922,34083,51064,49928,50569,54379,55096,55122,55038,55465,53229,52754,53765,52401,50464,45847
13,Family and consumer sciences/human sciences,11167,17409,18370,13847,13920,14353,16421,20074,20775,21400,21870,21906,21832,22438,23441,23930,24689,24584
14,"Foreign languages, literatures, and linguistics",20988,17068,11638,11550,13937,14832,16128,18386,19410,20275,20977,21169,21507,21705,21756,21647,20332,19493
15,Health professions and related programs,25223,53885,63665,65309,59875,86087,75933,80685,91973,101810,111478,120420,129623,143463,163675,181149,198777,216228
16,"Homeland security, law enforcement, and\n fi...",2045,12507,13707,12704,16806,24810,25211,30723,35319,39206,40235,41788,43613,47600,54091,60264,62416,62723
17,Legal professions and studies,545,531,776,1223,1827,2123,1991,3161,3302,3596,3771,3822,3886,4429,4595,4425,4513,4420
18,"Liberal arts and sciences, general studies,\n ...",7481,18855,21643,21336,30526,33997,37962,43751,44898,44255,46940,47095,46963,46717,46961,46790,45281,43647
19,Library science,1013,843,375,155,90,58,52,76,76,82,68,78,85,96,95,102,127,99
20,Mathematics and statistics,24801,15984,11078,16122,14393,12713,11171,14351,14770,14954,15192,15507,16029,17182,18841,20449,20987,21853
21,Military technologies and applied sciences,357,952,42,255,183,7,21,40,33,168,39,55,56,64,86,105,185,276
22,Multi/interdisciplinary studies,6324,13709,12986,13754,17774,26885,26478,28939,30583,32111,34174,35376,37717,42473,45717,47658,48392,47556
23,"Parks, recreation, leisure, and fitness studies",1621,5182,5729,4623,4315,12974,17948,22888,25490,27430,29931,31683,33332,35934,38998,42628,46047,49006
24,Philosophy and religious studies,8149,8447,6776,6396,7423,7541,8717,11584,11985,11969,12257,12448,12503,12830,12645,12792,11999,11072
25,Physical sciences and science technologies,21410,21458,23936,21711,16334,19716,18025,19104,20522,21291,22179,22691,23381,24705,26664,28053,29307,30038
26,Precision production,0,0,0,2,2,12,31,64,55,23,33,29,29,43,37,36,37,48
27,Psychology,38187,50278,41068,40628,58655,73416,73645,85614,88134,90039,92587,94273,97215,100906,109099,114446,117312,117557
28,Public administration and social services,5466,15440,16707,11887,14350,19849,19447,21769,21986,23147,23493,23852,25421,26799,29695,31950,33483,34363
29,Social sciences and history,155324,126396,100513,93840,125107,126479,128036,156892,161485,164183,167363,168517,172782,177169,178534,177767,173132,166944
30,Theology and religious vocations,3720,5490,5808,5510,4799,5292,6945,9284,8548,8696,8992,8940,8719,9073,9304,9385,9642,9708
31,Transportation and materials moving,0,225,263,1838,2622,3561,3748,4904,5349,5657,5203,5189,4998,4941,4876,4661,4588,4711
32,Visual and performing arts,30394,42138,40479,37241,42186,49296,61148,80955,83297,85186,87703,89143,91798,93939,95806,97799,97414,95832
33,Not classified by field of study,0,0,0,0,13258,1756,783,0,0,0,377,0,0,0,0,0,0,0

The dataframe now looks clean and ready to be incorporated into whatever we wish. 

Lets move on and look at our other dataframe and see if it needs to be cleaned

## Cleaning Degrees-that-pay-back dataframe

In [14]:
DF["degrees-that-pay-back"]

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Percent change from Starting to Mid-Career Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
0,Accounting,"$46,000.00","$77,100.00",67.6,"$42,200.00","$56,100.00","$108,000.00","$152,000.00"
1,Aerospace Engineering,"$57,700.00","$101,000.00",75.0,"$64,300.00","$82,100.00","$127,000.00","$161,000.00"
2,Agriculture,"$42,600.00","$71,900.00",68.8,"$36,300.00","$52,100.00","$96,300.00","$150,000.00"
3,Anthropology,"$36,800.00","$61,500.00",67.1,"$33,800.00","$45,500.00","$89,300.00","$138,000.00"
4,Architecture,"$41,600.00","$76,800.00",84.6,"$50,600.00","$62,200.00","$97,000.00","$136,000.00"
5,Art History,"$35,800.00","$64,900.00",81.3,"$28,800.00","$42,200.00","$87,400.00","$125,000.00"
6,Biology,"$38,800.00","$64,800.00",67.0,"$36,900.00","$47,400.00","$94,500.00","$135,000.00"
7,Business Management,"$43,000.00","$72,100.00",67.7,"$38,800.00","$51,500.00","$102,000.00","$147,000.00"
8,Chemical Engineering,"$63,200.00","$107,000.00",69.3,"$71,900.00","$87,300.00","$143,000.00","$194,000.00"
9,Chemistry,"$42,600.00","$79,900.00",87.6,"$45,300.00","$60,700.00","$108,000.00","$148,000.00"
10,Civil Engineering,"$53,900.00","$90,500.00",67.9,"$63,400.00","$75,100.00","$115,000.00","$148,000.00"
11,Communications,"$38,100.00","$70,000.00",83.7,"$37,500.00","$49,700.00","$98,800.00","$143,000.00"
12,Computer Engineering,"$61,400.00","$105,000.00",71.0,"$66,100.00","$84,100.00","$135,000.00","$162,000.00"
13,Computer Science,"$55,900.00","$95,500.00",70.8,"$56,000.00","$74,900.00","$122,000.00","$154,000.00"
14,Construction,"$53,700.00","$88,900.00",65.5,"$56,300.00","$68,100.00","$118,000.00","$171,000.00"
15,Criminal Justice,"$35,000.00","$56,300.00",60.9,"$32,200.00","$41,600.00","$80,700.00","$107,000.00"
16,Drama,"$35,900.00","$56,900.00",58.5,"$36,700.00","$41,300.00","$79,100.00","$153,000.00"
17,Economics,"$50,100.00","$98,600.00",96.8,"$50,600.00","$70,600.00","$145,000.00","$210,000.00"
18,Education,"$34,900.00","$52,000.00",49.0,"$29,300.00","$37,900.00","$73,400.00","$102,000.00"
19,Electrical Engineering,"$60,900.00","$103,000.00",69.1,"$69,300.00","$83,800.00","$130,000.00","$168,000.00"
20,English,"$38,000.00","$64,700.00",70.3,"$33,400.00","$44,800.00","$93,200.00","$133,000.00"
21,Film,"$37,900.00","$68,500.00",80.7,"$33,900.00","$45,500.00","$100,000.00","$136,000.00"
22,Finance,"$47,900.00","$88,300.00",84.3,"$47,200.00","$62,100.00","$128,000.00","$195,000.00"
23,Forestry,"$39,100.00","$62,600.00",60.1,"$41,000.00","$49,300.00","$78,200.00","$111,000.00"
24,Geography,"$41,200.00","$65,500.00",59.0,"$40,000.00","$50,000.00","$90,800.00","$132,000.00"
25,Geology,"$43,500.00","$79,500.00",82.8,"$45,000.00","$59,600.00","$101,000.00","$156,000.00"
26,Graphic Design,"$35,700.00","$59,800.00",67.5,"$36,000.00","$45,500.00","$80,800.00","$112,000.00"
27,Health Care Administration,"$38,800.00","$60,600.00",56.2,"$34,600.00","$45,600.00","$78,800.00","$101,000.00"
28,History,"$39,200.00","$71,000.00",81.1,"$37,000.00","$49,200.00","$103,000.00","$149,000.00"
29,Hospitality & Tourism,"$37,800.00","$57,500.00",52.1,"$35,500.00","$43,600.00","$81,900.00","$124,000.00"
30,Industrial Engineering,"$57,700.00","$94,700.00",64.1,"$57,100.00","$72,300.00","$132,000.00","$173,000.00"
31,Information Technology (IT),"$49,100.00","$74,800.00",52.3,"$44,500.00","$56,700.00","$96,700.00","$129,000.00"
32,Interior Design,"$36,100.00","$53,200.00",47.4,"$35,700.00","$42,600.00","$72,500.00","$107,000.00"
33,International Relations,"$40,900.00","$80,900.00",97.8,"$38,200.00","$56,000.00","$111,000.00","$157,000.00"
34,Journalism,"$35,600.00","$66,700.00",87.4,"$38,400.00","$48,300.00","$97,700.00","$145,000.00"
35,Management Information Systems (MIS),"$49,200.00","$82,300.00",67.3,"$45,300.00","$60,500.00","$108,000.00","$146,000.00"
36,Marketing,"$40,800.00","$79,600.00",95.1,"$42,100.00","$55,600.00","$119,000.00","$175,000.00"
37,Math,"$45,400.00","$92,400.00",103.5,"$45,200.00","$64,200.00","$128,000.00","$183,000.00"
38,Mechanical Engineering,"$57,900.00","$93,600.00",61.7,"$63,700.00","$76,200.00","$120,000.00","$163,000.00"
39,Music,"$35,900.00","$55,000.00",53.2,"$26,700.00","$40,200.00","$88,000.00","$134,000.00"
40,Nursing,"$54,200.00","$67,000.00",23.6,"$47,600.00","$56,400.00","$80,900.00","$98,300.00"
41,Nutrition,"$39,900.00","$55,300.00",38.6,"$33,900.00","$44,500.00","$70,500.00","$99,200.00"
42,Philosophy,"$39,900.00","$81,200.00",103.5,"$35,500.00","$52,800.00","$127,000.00","$168,000.00"
43,Physician Assistant,"$74,300.00","$91,700.00",23.4,"$66,400.00","$75,200.00","$108,000.00","$124,000.00"
44,Physics,"$50,300.00","$97,300.00",93.4,"$56,000.00","$74,200.00","$132,000.00","$178,000.00"
45,Political Science,"$40,800.00","$78,200.00",91.7,"$41,200.00","$55,300.00","$114,000.00","$168,000.00"
46,Psychology,"$35,900.00","$60,400.00",68.2,"$31,600.00","$42,100.00","$87,500.00","$127,000.00"
47,Religion,"$34,100.00","$52,000.00",52.5,"$29,700.00","$36,500.00","$70,900.00","$96,400.00"
48,Sociology,"$36,500.00","$58,200.00",59.5,"$30,700.00","$40,400.00","$81,200.00","$118,000.00"
49,Spanish,"$34,000.00","$53,100.00",56.2,"$31,000.00","$40,000.00","$76,800.00","$96,400.00"

This dataframe appears to be quite clean, however, for our purposes, the monetary values as they appear right now will be interpreted as strings. An integer value is probably much for useful for our analysis.

Changing these strings to integers is going to require a little extra work. To make things easier and faster for us, lets make a python function that we can reuse to parse and convert whatever column we need to convert.

In [15]:
#creating function to parse and convert money strings to integers
def convert_money(data):
    
    temp = data
    temp = temp.strip("$") #remove all instances of '$' character
    
    temp1,temp2 = temp.split(",") #remove all instances of ',' character
    temp = temp1+temp2
    
    temp = temp.split(".")[0] #parse string by '.' and take the first value parsed
    
    return int(temp) #return integer version of the data

In [16]:
#convert_money(DF["degrees-that-pay-back"]["Starting Median Salary"])
DF["degrees-that-pay-back"]["Starting Median Salary"] = DF["degrees-that-pay-back"]["Starting Median Salary"].apply(convert_money)
DF["degrees-that-pay-back"]["Mid-Career Median Salary"] = DF["degrees-that-pay-back"]["Mid-Career Median Salary"].apply(convert_money)
DF["degrees-that-pay-back"]["Mid-Career 10th Percentile Salary"] = DF["degrees-that-pay-back"]["Mid-Career 10th Percentile Salary"].apply(convert_money)
DF["degrees-that-pay-back"]["Mid-Career 25th Percentile Salary"] = DF["degrees-that-pay-back"]["Mid-Career 25th Percentile Salary"].apply(convert_money)
DF["degrees-that-pay-back"]["Mid-Career 75th Percentile Salary"] = DF["degrees-that-pay-back"]["Mid-Career 75th Percentile Salary"].apply(convert_money)
DF["degrees-that-pay-back"]["Mid-Career 90th Percentile Salary"] = DF["degrees-that-pay-back"]["Mid-Career 90th Percentile Salary"].apply(convert_money)

In [17]:
DF["degrees-that-pay-back"]

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Percent change from Starting to Mid-Career Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
0,Accounting,46000,77100,67.6,42200,56100,108000,152000
1,Aerospace Engineering,57700,101000,75.0,64300,82100,127000,161000
2,Agriculture,42600,71900,68.8,36300,52100,96300,150000
3,Anthropology,36800,61500,67.1,33800,45500,89300,138000
4,Architecture,41600,76800,84.6,50600,62200,97000,136000
5,Art History,35800,64900,81.3,28800,42200,87400,125000
6,Biology,38800,64800,67.0,36900,47400,94500,135000
7,Business Management,43000,72100,67.7,38800,51500,102000,147000
8,Chemical Engineering,63200,107000,69.3,71900,87300,143000,194000
9,Chemistry,42600,79900,87.6,45300,60700,108000,148000
10,Civil Engineering,53900,90500,67.9,63400,75100,115000,148000
11,Communications,38100,70000,83.7,37500,49700,98800,143000
12,Computer Engineering,61400,105000,71.0,66100,84100,135000,162000
13,Computer Science,55900,95500,70.8,56000,74900,122000,154000
14,Construction,53700,88900,65.5,56300,68100,118000,171000
15,Criminal Justice,35000,56300,60.9,32200,41600,80700,107000
16,Drama,35900,56900,58.5,36700,41300,79100,153000
17,Economics,50100,98600,96.8,50600,70600,145000,210000
18,Education,34900,52000,49.0,29300,37900,73400,102000
19,Electrical Engineering,60900,103000,69.1,69300,83800,130000,168000
20,English,38000,64700,70.3,33400,44800,93200,133000
21,Film,37900,68500,80.7,33900,45500,100000,136000
22,Finance,47900,88300,84.3,47200,62100,128000,195000
23,Forestry,39100,62600,60.1,41000,49300,78200,111000
24,Geography,41200,65500,59.0,40000,50000,90800,132000
25,Geology,43500,79500,82.8,45000,59600,101000,156000
26,Graphic Design,35700,59800,67.5,36000,45500,80800,112000
27,Health Care Administration,38800,60600,56.2,34600,45600,78800,101000
28,History,39200,71000,81.1,37000,49200,103000,149000
29,Hospitality & Tourism,37800,57500,52.1,35500,43600,81900,124000
30,Industrial Engineering,57700,94700,64.1,57100,72300,132000,173000
31,Information Technology (IT),49100,74800,52.3,44500,56700,96700,129000
32,Interior Design,36100,53200,47.4,35700,42600,72500,107000
33,International Relations,40900,80900,97.8,38200,56000,111000,157000
34,Journalism,35600,66700,87.4,38400,48300,97700,145000
35,Management Information Systems (MIS),49200,82300,67.3,45300,60500,108000,146000
36,Marketing,40800,79600,95.1,42100,55600,119000,175000
37,Math,45400,92400,103.5,45200,64200,128000,183000
38,Mechanical Engineering,57900,93600,61.7,63700,76200,120000,163000
39,Music,35900,55000,53.2,26700,40200,88000,134000
40,Nursing,54200,67000,23.6,47600,56400,80900,98300
41,Nutrition,39900,55300,38.6,33900,44500,70500,99200
42,Philosophy,39900,81200,103.5,35500,52800,127000,168000
43,Physician Assistant,74300,91700,23.4,66400,75200,108000,124000
44,Physics,50300,97300,93.4,56000,74200,132000,178000
45,Political Science,40800,78200,91.7,41200,55300,114000,168000
46,Psychology,35900,60400,68.2,31600,42100,87500,127000
47,Religion,34100,52000,52.5,29700,36500,70900,96400
48,Sociology,36500,58200,59.5,30700,40400,81200,118000
49,Spanish,34000,53100,56.2,31000,40000,76800,96400

With that done, this dataframe should be clean enough for use in analysis.

With both dataframes clean, we can start to compare the two data frames to each other and see if we can put them together some how

### Comparing the two data frames

Since the primary criterion we are looking at are the college majors, it would be a good idea to make sure that both data frames have the same majors

In [18]:
#Seeing that we have more majors in the "degrees-that-pay-back" data frame, lets use those majors as our base 

#We will compare the majors in both data frames, if the major is not listed in the "degrees-that-pay-back" data frame
#then we shall remove that row of data

#if string is not found in one, then remove that row
#DF["degrees-that-pay-back"]["Undergraduate Major"].isin(DF["Bachelor_Degrees_Conferred"]["Field of study"])

major_list = []

for item in DF["Bachelor_Degrees_Conferred"]["Field of study"].str.split(" "):
    for word in item:
        major_list.append(word) #add to the list of majors in Bachelor_Degrees_Conferred

#remove empty spaces and commas from the list for faster and efficient processing        
major_list = [entry.strip(' ') for entry in major_list]
major_list = [entry.strip(',') for entry in major_list]

#store majors that match into a new dataframe
DF_Sal = DF["degrees-that-pay-back"][DF["degrees-that-pay-back"]["Undergraduate Major"].isin(major_list)]
DF_Sal

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Percent change from Starting to Mid-Career Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
2,Agriculture,42600,71900,68.8,36300,52100,96300,150000
4,Architecture,41600,76800,84.6,50600,62200,97000,136000
11,Communications,38100,70000,83.7,37500,49700,98800,143000
18,Education,34900,52000,49.0,29300,37900,73400,102000
20,English,38000,64700,70.3,33400,44800,93200,133000
42,Philosophy,39900,81200,103.5,35500,52800,127000,168000
46,Psychology,35900,60400,68.2,31600,42100,87500,127000

Hmm, this dataframe appears to be smaller than originally anticipated. 

Since majors do not really differ across the board and inital glances at both dataframes told me the same, I expected to have many more corresponding majors to work with. Something appears to be wrong with the matching of the majors.

Lets look again at say, the first 10 lines of each dataframe to see if there is, in fact, a disreprency

In [19]:
#printing first 15 entries of bachelor degrees dataframe
DF["Bachelor_Degrees_Conferred"]["Field of study"].head(15)

0                                                Total
1                    Agriculture and natural resources
2                    Architecture and related services
3     Area, ethnic, cultural, gender, and group stud...
4                   Biological and biomedical sciences
5                                             Business
6      Communication, journalism, and related programs
7                          Communications technologies
8                    Computer and information sciences
9                                            Education
10                                         Engineering
11                            Engineering technologies
12             English language and literature/letters
13         Family and consumer sciences/human sciences
14     Foreign languages, literatures, and linguistics
Name: Field of study, dtype: object

In [20]:
#printing first 15 entries of salaries dataframe
DF["degrees-that-pay-back"]["Undergraduate Major"].head(15)

0                Accounting
1     Aerospace Engineering
2               Agriculture
3              Anthropology
4              Architecture
5               Art History
6                   Biology
7       Business Management
8      Chemical Engineering
9                 Chemistry
10        Civil Engineering
11           Communications
12     Computer Engineering
13         Computer Science
14             Construction
Name: Undergraduate Major, dtype: object

That is strange, there appears to be majors that appear under both dataframes, but not are included in the combined dataframe. Pandas must be checking for an exact match in the cell rather than parsing the contents of the cell and comparing to that.

Furthermore, where one dataframe has a general version of a major, the other dataframe has a more specific one 
(e.g. Engineering vs Civil Engineering)

Looks like we have to do a little more work to get an accurate representation of usuable majors for our project.

There are two ways we can handle this: 
1) create or refine the code that matches majors to account for specific vs general majors and the parsing of the dataframe cells

2) Look at the dataframes and manually add majors to the combined dataframe ourselves

Normally, refining the code would be the prefered option since automating it would allow our code to be more reusable and able to handle copious amounts of data.
However, in this particular case, it might be best to manually add majors because of the pariticular discretion needed to select the correct majors (this is doable since the dataframes are relatively small).

Let us proceed to manually add majors.

In [21]:
#In order to make the process of looking through each list of majors easier, lets make a new dataframe that
#lets us see the majors side by side

DF_majors = pd.concat([DF["degrees-that-pay-back"],DF["Bachelor_Degrees_Conferred"]], axis = 1, join_axes = [DF["degrees-that-pay-back"].index])
DF_majors = DF_majors[["Undergraduate Major", "Field of study"]]
DF_majors = DF_majors.fillna('')

In [22]:
DF_majors

,Undergraduate Major,Field of study
0,Accounting,Total
1,Aerospace Engineering,Agriculture and natural resources
2,Agriculture,Architecture and related services
3,Anthropology,"Area, ethnic, cultural, gender, and group stud..."
4,Architecture,Biological and biomedical sciences
5,Art History,Business
6,Biology,"Communication, journalism, and related programs"
7,Business Management,Communications technologies
8,Chemical Engineering,Computer and information sciences
9,Chemistry,Education
10,Civil Engineering,Engineering
11,Communications,Engineering technologies
12,Computer Engineering,English language and literature/letters
13,Computer Science,Family and consumer sciences/human sciences
14,Construction,"Foreign languages, literatures, and linguistics"
15,Criminal Justice,Health professions and related programs
16,Drama,"Homeland security, law enforcement, and\n fi..."
17,Economics,Legal professions and studies
18,Education,"Liberal arts and sciences, general studies,\n ..."
19,Electrical Engineering,Library science
20,English,Mathematics and statistics
21,Film,Military technologies and applied sciences
22,Finance,Multi/interdisciplinary studies
23,Forestry,"Parks, recreation, leisure, and fitness studies"
24,Geography,Philosophy and religious studies
25,Geology,Physical sciences and science technologies
26,Graphic Design,Precision production
27,Health Care Administration,Psychology
28,History,Public administration and social services
29,Hospitality & Tourism,Social sciences and history
30,Industrial Engineering,Theology and religious vocations
31,Information Technology (IT),Transportation and materials moving
32,Interior Design,Visual and performing arts
33,International Relations,Not classified by field of study
34,Journalism,
35,Management Information Systems (MIS),
36,Marketing,
37,Math,
38,Mechanical Engineering,
39,Music,
40,Nursing,
41,Nutrition,
42,Philosophy,
43,Physician Assistant,
44,Physics,
45,Political Science,
46,Psychology,
47,Religion,
48,Sociology,
49,Spanish,

Great, now we have a dataframe with the majors side by side. It may not be the prettiest dataframe since many values
are missing, but it should serve our purposes well (it helps that the dataframe is alphabetized for us).

After manually matching corresponding majors, I have determined that the usuable majors are:

    -Agriculture
    -Architecture
    -Business
    -Communications
    -Computer Science
    -Education
    -English
    -Math
    -Philosophy
    -Religion

*note that engineering had correspondence, but matching generalized data of engineering to, say a more specific field
such as electrical engineering, could possibly skew our results later on

Lets update our dataframes with our new found information

In [23]:
mj = ["Agriculture", "Architecture", "Business", "Communications", "Computer Science", "Education", "English", "Math", "Philosophy", "Religion"]

In [24]:
#updating DF_Sal by adding missing majors (found by finding positions in original dataframe)

#add missing majors
DF_Sal = DF_Sal.append(DF["degrees-that-pay-back"].iloc[7,:])
DF_Sal = DF_Sal.append(DF["degrees-that-pay-back"].iloc[13,:])
DF_Sal = DF_Sal.append(DF["degrees-that-pay-back"].iloc[47,:])

#sort dataframe by alphabetical order
DF_Sal = DF_Sal.sort_values("Undergraduate Major")

#Reset indexes
DF_Sal = DF_Sal.reset_index(drop = True)

In [25]:
DF_Sal

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Percent change from Starting to Mid-Career Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
0,Agriculture,42600,71900,68.8,36300,52100,96300,150000
1,Architecture,41600,76800,84.6,50600,62200,97000,136000
2,Business Management,43000,72100,67.7,38800,51500,102000,147000
3,Communications,38100,70000,83.7,37500,49700,98800,143000
4,Computer Science,55900,95500,70.8,56000,74900,122000,154000
5,Education,34900,52000,49.0,29300,37900,73400,102000
6,English,38000,64700,70.3,33400,44800,93200,133000
7,Philosophy,39900,81200,103.5,35500,52800,127000,168000
8,Psychology,35900,60400,68.2,31600,42100,87500,127000
9,Religion,34100,52000,52.5,29700,36500,70900,96400

In [26]:
#creating new dataframe to hold the degrees that we want to use
DF_degrees = DF["Bachelor_Degrees_Conferred"]

#remove all data and leave only the column headers for use
DF_degrees = DF_degrees.iloc[0:0]

In [27]:
#Manually adding wanted majors to the dataframe


DF_degrees = DF_degrees.append(DF["Bachelor_Degrees_Conferred"].iloc[1,:])
DF_degrees = DF_degrees.append(DF["Bachelor_Degrees_Conferred"].iloc[2,:])
DF_degrees = DF_degrees.append(DF["Bachelor_Degrees_Conferred"].iloc[5,:])
DF_degrees = DF_degrees.append(DF["Bachelor_Degrees_Conferred"].iloc[6,:])
DF_degrees = DF_degrees.append(DF["Bachelor_Degrees_Conferred"].iloc[8,:])
DF_degrees = DF_degrees.append(DF["Bachelor_Degrees_Conferred"].iloc[9,:])
DF_degrees = DF_degrees.append(DF["Bachelor_Degrees_Conferred"].iloc[12,:])
DF_degrees = DF_degrees.append(DF["Bachelor_Degrees_Conferred"].iloc[20,:])
DF_degrees = DF_degrees.append(DF["Bachelor_Degrees_Conferred"].iloc[24,:])
DF_degrees = DF_degrees.append(DF["Bachelor_Degrees_Conferred"].iloc[30,:])

#Reset indexes
DF_degrees = DF_degrees.reset_index(drop = True)

In [28]:
#Rename Column header from "Field of study" to "Undergraudate Major"
DF_degrees = DF_degrees.rename(columns = {"Field of study":"Undergraduate Major"})

#Rename major fields to match with other dataframe
DF_degrees["Undergraduate Major"] = DF_Sal["Undergraduate Major"]

In [29]:
DF_degrees

,Undergraduate Major,1970-71,1975-76,1980-81,1985-86,1990-91,1995-96,2000-01,2004-05,2005-06,2006-07,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15
0,Agriculture,12672,19402,21886,16823,13124,21425,23370,23002,23053,23133,24113,24982,26343,28630,30972,33592,35125,36277
1,Architecture,5570,9146,9455,9119,9781,8352,8480,9237,9515,9717,9805,10119,10051,9831,9727,9757,9149,9090
2,Business Management,115396,143171,200521,236700,249165,226623,263515,311574,318042,327531,335254,348056,358119,365133,367235,360887,358132,363799
3,Communications,10324,20045,29428,41666,51650,47320,58013,72715,73955,74783,76382,77984,81280,83231,83771,84818,87612,90650
4,Computer Science,2388,5652,15121,42337,25159,24506,44142,54111,47480,42170,38476,37992,39593,43066,47406,50961,55271,59581
5,Education,176307,154437,108074,87147,110807,105384,105458,105451,107238,105641,102582,101716,101287,104008,105656,104698,98838,91623
6,English,63914,41452,31922,34083,51064,49928,50569,54379,55096,55122,55038,55465,53229,52754,53765,52401,50464,45847
7,Philosophy,24801,15984,11078,16122,14393,12713,11171,14351,14770,14954,15192,15507,16029,17182,18841,20449,20987,21853
8,Psychology,8149,8447,6776,6396,7423,7541,8717,11584,11985,11969,12257,12448,12503,12830,12645,12792,11999,11072
9,Religion,3720,5490,5808,5510,4799,5292,6945,9284,8548,8696,8992,8940,8719,9073,9304,9385,9642,9708

We're getting very close to the end of the cleaning phase. There is one last issue we need to address with this particular dataframe. The data for the number of degrees appears to be numerical, but with the inclusion of the commas (the ',' character), the numbers are translated as strings in the computer, we need to remove the commas and convert the object type to integer in order to effectively use the data.

# Begin Data Analysis

Fantastic! Now that our data is cleaned, we can now proceed with analyzing our data for any correlations and/or patterns that provides insight to our goal.

Before we begin the actual analysis, however, it is best that we set up some hypotheses that we will base our judgements on. We will call our hypotheses the "null hypothes" and "alternate hypothesis".

Let our the hypotheses be as follows:

Null Hypothesis: There are a less than or equal amount of people picking majors with high post-college salaries

Alternate Hypothesis: There are more people picking majors with high post-college salaries

In running our data analysis, our ultimate goal is to be able to find enough evidence in order to reject our Null Hypothesis in order to conclude the Alternate Hypothesis. Whether we will find enough evidence to do so is still to be determined.

So let's begin!

## Determining Majors with High Post-College Salaries

One of the critical parts of our hypotheses is the idea of a major with high post-college salary. 

Lets define these majors as majors that have post-college salaries that have a large, statistically significant difference that is much higher that that of other majors. 

We should be able to identify these majors with the data that we have. However, merely looking at all the numbers in the dataframe will not easily show us the majors that we want to identify. 

Visualizations will help us see if any majors fit our description.

Lets start by looking at the DF_degrees dataframe. Since we have data from various periods of time, lets plot the data into a line graph, with each line depicting the growth of the major over time.

Doing this should allow us to see if anything suspicious jumps out at us.